<!-- 侧底边栏 -->
<div class="fixed-side-toolbar">
    <ul>
        <li>
            <a class="go-top hide" href="javascript:;" onclick="$.scrollTo(1, 600, {queue:true});"> <i class="md md-expand-less"></i></a>
        </li>
        <li>
            <a class="qrcode" href="javascript:void(0)" data-trigger="hover" data-toggle="popover" data-placement="left" data-content="二维码" title="" data-original-title="关注脑壳网，做最聪明的人"><i class="icon icon-qrcode"></i></a>
        </li>
        <li data-toggle="tooltip" data-placement="left" title="" data-original-title="分享问题">
            <a class="bgm-lightblue c-white" href="publish/">
                <i class="md md-mode-edit"></i>
            </a>
        </li>
    </ul>
</div>