<!-- 侧底边栏 -->
<div class="fixed-side-toolbar hidden-xs">
    <ul>
        <li>
            <a href="javascript:;" class="go-top hide" onclick="$.scrollTo(1, 600, {queue:true});"> <i class="md md-expand-less"></i></a>
        </li><li>
            <a class="qrcode" href="javascript:void(0)" data-trigger="hover" data-toggle="popover" data-placement="left" data-content='<div class="text-center"><span class="wechat-qrcode"></span></div>' title="" data-original-title='<p class="m-b-0">微信扫描关注</p>'><i class="icon icon-qrcode"></i></a>
        </li><li data-toggle="tooltip" data-placement="left" title="" data-original-title="出题考考别人">
            <a class="bgm-lightblue c-white" href="publish/">
                <i class="md md-mode-edit"></i>
            </a>
        </li>
    </ul>
</div>