<div id="m-question-list-heading-wrap" class="visible-xs">
	<div class="m-question-list-heading" id="m-question-list-heading">
		<div class="card">
			<div class="card-body card-padding p-l-10 p-r-10">
				<ul class="m-question-filter clearfix">
					<li>
						<a id="m-question-filter" href="#m-question-filter-dlg" data-url-base="<?php echo $this->filter_info['url_base']; ?>" data-toggle="modal"><i class="md md-filter-list"></i> 筛选 <span class="caret"></span></a>
					</li>
					<li class="dropdown">
						<a class="m-question-sort-type" id="m-question-sort-type" data-url-base="<?php echo $this->filter_info['url_base']; ?>" data-sort-type="<?php echo $this->filter_info['sort_type']; ?>" href="javascript:void(0);" data-toggle="dropdown" aria-expanded="true">
							<?php if($this->filter_info['sort_type'] == 'update_time') { ?>
				                <i class="md md-access-time"></i> 最新发布 
				            <?php } else if($this->filter_info['sort_type'] == 'quiz_count') { ?>
				                <i class="md md-equalizer"></i> 最多答题 
				            <?php } else if($this->filter_info['sort_type'] == 'quiz_count_failed') { ?>
				                <i class="md md-close"></i> 最多失败 
				            <?php } else if($this->filter_info['sort_type'] == 'answer_count') { ?>
				                <i class="md md-comment"></i> 最多讨论 
				            <?php } else if($this->filter_info['sort_type'] == 'success_ratio_up') { ?>
				                <i class="md md-trending-up"></i> 低正确率 
				            <?php } else if($this->filter_info['sort_type'] == 'success_ratio_down') { ?>
				                <i class="md md-trending-down"></i> 高正确率 
				            <?php } else { ?>
				                <i class="md md-access-time"></i> 最新发布
				            <?php } ?>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu m-question-sort-items">
				            <li><a href="javascript:void(0);" data-sort-type=""><i class="md md-access-time"></i> 最新发布</a></li>
				            <li><a href="javascript:void(0);" data-sort-type="quiz_count"><i class="md md-equalizer"></i> 最多答题</a></li>
				            <li><a href="javascript:void(0);" data-sort-type="quiz_count_failed"><i class="md md-close"></i> 最多失败</a></li>
				            <li><a href="javascript:void(0);" data-sort-type="answer_count"><i class="md md-comment"></i> 最多讨论</a></li>
				            <li><a href="javascript:void(0);" data-sort-type="success_ratio_up"><i class="md md-trending-up"></i> 低正确率</a></li>
				            <li><a href="javascript:void(0);" data-sort-type="success_ratio_down"><i class="md md-trending-down"></i> 高正确率</a></li>
				        </ul>
					</li>
					<li class="dropdown">
						<i class="md md-assignment-ind"></i>
						<a href="javascript:void(0);" id="m-question-filter-urecord" data-url-base="<?php echo $this->filter_info['url_base']; ?>" data-filter-type="<?php echo $this->filter_info['urecord']; ?>" data-toggle="dropdown" aria-expanded="true">
				            <?php if($this->filter_info['urecord'] == 'none') { ?>
				                不限记录
				            <?php } else if($this->filter_info['urecord'] == 'answered') { ?>
				                我已答过
				            <?php } else if($this->filter_info['urecord'] == 'unanswered') { ?>
				                我未答过
				            <?php } else { ?>
				                不限记录
				            <?php } ?>
				            <span class="caret"></span>
				        </a>
				        <ul class="dropdown-menu pull-right m-question-urecord-filter-items">
				            <li><a href="javascript:void(0);" data-filter-type="">不限纪录</a></li>
				            <li><a href="javascript:void(0);" data-filter-type="answered">我已答过</a></li>
				            <li><a href="javascript:void(0);" data-filter-type="unanswered">我未答过</a></li>
				        </ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="modal fade m-question-menu-dialog" id="m-question-filter-dlg" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card m-question-filter-list">
                <div class="card-header ch-alt">
                    <h2><i class="md md-filter-list"></i> 筛选</h2>
                    <div class="actions">
                    	<li>
                    		<button type="button" id="m-question-filters-apply" class="btn btn-primary waves-effect" data-dismiss="modal">确定</button>
                    	</li>
                    </div>
                </div>
                <div class="card-body card-padding">
                    <ul class="m-question-filters">      
		            	<li class="m-question-filter-row">
		            		<h3>分类：</h3>
		            		<ul class="m-question-filter-items">
		            			<li class="<?php if(!$this->filter_info OR !$this->filter_info['category_id']) { echo 'active'; } ?>"><a class="m-question-filter-category" href="javascript:;">全部</a></li>
		            			<?php foreach ($this->content_nav_menu as $key => $val) { ?>
		            				<?php if($val['id']) { ?>
										<li class="m-question-filter-category <?php if($this->filter_info AND $this->filter_info['category_id'] == $val['id']) { echo 'active'; } ?>" data-id="<?php echo $val['id']; ?>">
											<a href="javascript:;">
												<?php echo $val['title']; ?> 
											</a>
										</li>
									<?php } ?>
		            			<?php } ?>	
		            		</ul>
		            	</li>
		            	<li class="m-question-filter-row">
		            		<h3>题型：</h3>
		            		<ul class="m-question-filter-items">
		            			<li class="m-question-filter-quiztype <?php if(!$this->filter_info OR !$this->filter_info['quiztype']) { echo 'active'; } ?>"><a href="javascript:;">全部</a></li>
		            			<li class="m-question-filter-quiztype <?php if($this->filter_info AND $this->filter_info['quiztype'] == 1) { echo 'active'; } ?>" data-id="1"><a href="javascript:;">单选</a></li>
		            			<li class="m-question-filter-quiztype <?php if($this->filter_info AND $this->filter_info['quiztype'] == 2) { echo 'active'; } ?>" data-id="2"><a href="javascript:;">多选</a></li>
		            			<li class="m-question-filter-quiztype <?php if($this->filter_info AND $this->filter_info['quiztype'] == 3) { echo 'active'; } ?>" data-id="3"><a href="javascript:;">字谜</a></li>
		            			<li class="m-question-filter-quiztype <?php if($this->filter_info AND $this->filter_info['quiztype'] == 4) { echo 'active'; } ?>" data-id="4"><a href="javascript:;">填空</a></li>
		            			<li class="m-question-filter-quiztype <?php if($this->filter_info AND $this->filter_info['quiztype'] < 0) { echo 'active'; } ?>" data-id="-1"><a href="javascript:;">开放</a></li>
		            		</ul>
		            	</li>
		            	<li class="m-question-filter-row">
		            		<h3>难度：</h3>
		            		<ul class="m-question-filter-items">
		            			<li class="m-question-filter-difficulty <?php if(!$this->filter_info OR !$this->filter_info['difficulty']) { echo 'active'; } ?>"><a  href="javascript:;">全部</a></li>
		            			<li class="m-question-filter-difficulty <?php if($this->filter_info AND $this->filter_info['difficulty'] == 1) { echo 'active'; } ?>" data-id="1"><a href="javascript:;"><?php echo get_setting('difficulty_level_1_text'); ?></a></li>
		            			<li class="m-question-filter-difficulty <?php if($this->filter_info AND $this->filter_info['difficulty'] == 2) { echo 'active'; } ?>" data-id="2"><a href="javascript:;"><?php echo get_setting('difficulty_level_2_text'); ?></a></li>
		            			<li class="m-question-filter-difficulty <?php if($this->filter_info AND $this->filter_info['difficulty'] == 3) { echo 'active'; } ?>" data-id="3"><a href="javascript:;"><?php echo get_setting('difficulty_level_3_text'); ?></a></li>
		            			<li class="m-question-filter-difficulty <?php if($this->filter_info AND $this->filter_info['difficulty'] == 4) { echo 'active'; } ?>" data-id="4"><a href="javascript:;"><?php echo get_setting('difficulty_level_4_text'); ?></a></li>
		            			<li class="m-question-filter-difficulty <?php if($this->filter_info AND $this->filter_info['difficulty'] == 5) { echo 'active'; } ?>" data-id="5"><a href="javascript:;"><?php echo get_setting('difficulty_level_5_text'); ?></a></li>
		            		</ul>
		            	</li>
		            	<li class="m-question-filter-row">
		            		<h3>时限：</h3>
		            		<ul class="m-question-filter-items">
		            			<li class="m-question-filter-countdown <?php if(!$this->filter_info OR !$this->filter_info['countdown']) { echo 'active'; } ?>"><a href="javascript:;">全部</a></li>
		            			<li class="m-question-filter-countdown <?php if($this->filter_info AND $this->filter_info['countdown'] > 0) { echo 'active'; } ?>" data-id="1"><a href="javascript:;">限时答题</a></li>
		            			<li class="m-question-filter-countdown <?php if($this->filter_info AND $this->filter_info['countdown'] < 0) { echo 'active'; } ?>" data-id="-1"><a href="javascript:;">非限时答题</a></li>
		            		</ul>
		            	</li>
			        </ul>
                </div>
            </div>
        </div>
    </div>
</div>
