<ul class="dropdown-menu" role="menu">
	<li><a href="people/<?php echo $this->user_id; ?>"><i class="md md-home"></i> 返回我的主页</a></li>
	<li class="divider"></li>
    <li><a href="notifications/"><i class="md md-notifications"></i> 我的消息</a></li>
    <li><a href="inbox/"><i class="md md-email"></i> 我的私信</a></li>
    <li><a href="draft/"><i class="md md-description"></i> 我的草稿</a></li>
    <li><a href="favorite/"><i class="md md-bookmark"></i> 我的收藏</a></li>
    <li><a href="integral/"><i class="md md-attach-money"></i> 我的积分</a></li>
    <li class="divider"></li>
    <li><a href="account/setting/profile/"><i class="md md-settings"></i> 我的设置</a></li>
    <li><a href="invitation/"><i class="md md-person-add"></i> 邀请好友注册</a></li>
</ul>