<?php if($this->question_list) { ?>
	<?php foreach ($this->question_list as $index => $question) { ?>
		<div class="card">
			<?php if($question['user_quiz_count'] > 0) { ?>
				<?php if($question['user_quiz_passed']) { ?>
					<div class="user-passed-quiz-mark success bgm-green c-white">
						<?php if($question['user_quiz_count'] == 1) { ?>
							<i class="md md-flag"></i> 一次通过
						<?php } else { ?>
							答题通过 ｜ <span><?php echo $question['user_quiz_count']; ?></span>
						<?php } ?>
					</div>
				<?php } else { ?>
					<div class="user-passed-quiz-mark failed bgm-red c-white">
						答题失败 ｜ <span><?php echo $question['user_quiz_count']; ?></span>
					</div>
				<?php } ?>
			<?php } ?>
			
			<div class="card-body card-padding">
				<div class="question-list-header m-b-10 clearfix">
					<div class="question-publish-info">
						<?php if ($question['user_info']) { ?>
							<a href="people/<?php echo $question['user_info']['url_token']; ?>" target="_blank" rel="nofollow" class="user-tag user-img" data-id="<?php echo $question['user_info']['uid']; ?>">
								<img class="publisher-img-sm hidden-xs" src="<?php echo get_avatar_url($question['user_info']['uid'], 'min'); ?>" alt="" /><?php if ($question['user_info']['verified']) { ?><?php if ($question['user_info']['verified'] == 'personal') { ?><i class="icon icon-v"></i>
								<?php } else { ?><i class="icon icon-v i-ve"></i><?php } ?><?php } ?>
							</a>
							<a href="people/<?php echo $question['user_info']['url_token']; ?>" target="_blank" rel="nofollow" class="user-tag user-name" data-id="<?php echo $question['user_info']['uid']; ?>">
								<?php echo $question['user_info']['user_name']; ?>
							</a>
						<?php } ?>
						<small class="c-gray">
							• <?php echo date_friendly($question['add_time']); ?>
						</small>
					</div>
					<div class="question-tags">
	            		<ul class="question-tag-list">
	            			<!-- 问题分类 -->
		            		<?php if ($question['category_info']) { ?>
		            			<li class="question-tag-item">
									<a data-type="category" data-id="<?php echo $question['category_info']['id']; ?>" class="question-tag c-category-<?php echo $question['category_id'] % 19; ?> b-category-<?php echo $question['category_id'] % 19; ?>" href="javascript:;">
										<span><?php echo $question['category_info']['title']; ?></span>
									</a>
								</li>
							<?php } ?>
							
		            		<!-- 问题难度 -->
		            		<?php TPL::assign('question_difficulty', $question['difficulty']); ?>
		            		<li class="question-tag-item">
		            			<?php TPL::output('question/ajax/question_difficulty'); ?>
		            		</li>

							<!-- 答题类型 -->
							<?php TPL::assign('question_quiz_type', $question['quiz_info']['type']); ?>
							<li class="question-tag-item">
								<?php TPL::output('question/ajax/question_quiz_type'); ?>
							</li>
	            		</ul>
	            	</div>
				</div>
					
        		<div class="media question-list-body">
				    <div class="pull-right">
				    	<?php if(!($question['quiz_info'] AND $question['quiz_info']['countdown']) AND $question['attachs']) { ?>		
							<?php foreach ($question['attachs'] AS $attach) { ?>
								<?php if ($attach['is_image']) { ?>
									<a href="question/<?php echo $question['question_id']; ?>" target="_blank"><img class="question-feature-image" target="_blank" src="<?php echo $attach['thumb']; ?>" alt="<?php echo $attach['attach_name']; ?>"></a>
								<?php break; } ?>
							<?php } ?>	
				    	<?php } ?>
					</div>
			        <div class="media-body">
					    <div class="question-list-title">
							<h3>
			            		<?php if($question['quiz_info'] AND $question['quiz_info']['countdown']) { ?>
			            			<a class="countdown-question-title" href="question/<?php echo $question['question_id']; ?>" target="_blank">
			            				<i class="md md-access-alarm"></i> 限时答题：***<?php echo cjk_substr($question['question_content'], 2, 4, 'UTF-8', '***'); ?>
			            			</a>
			            		<?php } else { ?>
			            			<a href="question/<?php echo $question['question_id']; ?>" target="_blank"><?php echo $question['question_content']; ?>
			            			</a>
			            		<?php } ?>
			            	</h3>
						</div>
					    <div class="question-list-content">
			            	<?php if($question['quiz_info'] AND $question['quiz_info']['countdown']) { ?>
			            		<div class="question-countdown-quiz-info">
			            			<p>
			            				<span class="question-excerpt hidden-xs"><?php echo '你需要在规定的时间内完成答题'; ?></span>	
			            				<a href="question/<?php echo $question['question_id']; ?>" class="question-list-answer-question c-lightblue" target="_blank">开始答题 <i class="md md-chevron-right"></i></a>
			            			</p>
			            		</div>
			            	<?php } else { ?>
			            		<p>
			            			<span class="hidden-xs"><?php echo cjk_substr(str_replace("\r\n", ' ', preg_replace('|\[.*\].*\[\/.*\]|si', '', strip_tags($question['question_detail']))), 0, 68, 'UTF-8', '...'); ?></span>
			            			<a href="question/<?php echo $question['question_id']; ?>" class="question-list-answer-question c-lightblue" target="_blank">开始答题 <i class="md md-chevron-right"></i></a>
			            		</p>
			            	<?php } ?>
			            </div>
			            <div class="question-list-footer">
					    	<ul class="question-stats">
				            	<li class="question-stat"><i class="md md-remove-red-eye"> </i><?php echo $question['view_count']; ?> <span class="hidden-xs">次浏览</span></li>
								<?php if($question['quiz_id'] > 0) { ?>
		                            <li class="question-stat"><i class="md md-equalizer"> </i><?php echo $question['quiz_count_total']; ?> <span class="hidden-xs">次答题</span></li>
		                            <li class="question-stat"><i class="md md-flag"> </i><?php echo number_format($question['quiz_success_ratio'] * 100, 0); ?>% <span class="hidden-xs">正确率</span></li>
		                    	<?php } ?>
		                    	<li class="question-stat"><i class="md md-comment"> </i><?php echo $question['answer_count']; ?> <span class="hidden-xs">条讨论</span></li>
		                    </ul>
					    </div>
			        </div>
			    </div>
				    
            </div>
		</div> 
	<?php } ?>
<?php } else { ?>
	<div class="card">
		<div class="card-body card-padding">
			<div class="c-gray text-center">没有满足条件的内容，<a class="c-lightblue" href="question/">访问题库参与更多精彩答题</a></div>
		</div>
	</div>
<?php } ?>