<ul class="question-list-filter-items">
    <li class="question-list-filter-item sort dropdown">
        <a class="c-lightblue" href="javascript:void(0);" data-toggle="dropdown" aria-expanded="true"><i class="md md-access-time"></i> 最新发布 <i class="caret"></i></a>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="md md-access-time"></i> 最新发布</a></li>
            <li><a href="#"><i class="md md-equalizer"></i> 最多答题</a></li>
            <li><a href="#"><i class="md md-comment"></i> 最多讨论</a></li>
            <li><a href="#"><i class="md md-trending-up"></i> 最低正确率</a></li>
            <li><a href="#"><i class="md md-trending-down"></i> 最高正确率</a></li>
        </ul>
    </li>
    <li class="question-list-filter-item user dropdown">
        <a href="javascript:void(0);" class="c-lightblue" data-toggle="dropdown" aria-expanded="true"><i class="md md-assignment-ind"></i> 不限记录 <i class="caret"></i></a>
        <ul class="dropdown-menu">
            <li><a href="javascript:void(0);">不限纪录</a></li>
            <li><a href="javascript:void(0);">我已答过</a></li>
            <li><a href="javascript:void(0);">我未答过</a></li>
        </ul>
    </li>
    <li class="question-list-filter-item time dropdown">
        <a href="javascript:void(0);" class="c-lightblue" data-toggle="dropdown" aria-expanded="true"><i class="md md-today"></i> 不限日期 <i class="caret"></i></a>
        <ul class="dropdown-menu">
            <li><a href="javascript:void(0);">不限日期</a></li>
            <li><a href="javascript:void(0);">一周以内</a></li>
            <li><a href="javascript:void(0);">一月以内</a></li>
            <li><a href="javascript:void(0);">一年以内</a></li>
        </ul>
    </li>
</ul>