<div class="integral-base-list">
    <div class="integral-base-list-header text-center">
        <h4 class="m-t-5">
            题目难度及问题基础分
        </h4>
    </div>
    
    <ul>
        <li class="clearfix">
            <div class="pull-left m-r-10">
                1 
                <span class="c-green">
                    <?php echo get_setting('difficulty_level_1_text'); ?>
                    <i class="md md-star"></i>
                    <i class="md md-star-outline"></i>
                    <i class="md md-star-outline"></i>
                    <i class="md md-star-outline"></i>
                    <i class="md md-star-outline"></i>
                </span> 
            </div>
            
            <div class="pull-right"><?php echo get_setting('difficulty_level_1_integral'); ?> 积分</div>
        </li>
        <li class="clearfix">
            <div class="pull-left m-r-10">
                2 
                <span class="c-blue">
                    <?php echo get_setting('difficulty_level_2_text'); ?>
                    <i class="md md-star"></i>
                    <i class="md md-star"></i>
                    <i class="md md-star-outline"></i>
                    <i class="md md-star-outline"></i>
                    <i class="md md-star-outline"></i>
                </span>
            </div>
            
            <div class="pull-right"><?php echo get_setting('difficulty_level_2_integral'); ?> 积分</div>
        </li>
        <li class="clearfix">
            <div class="pull-left m-r-10">
                3 
                <span class="c-yellow">
                    <?php echo get_setting('difficulty_level_3_text'); ?>
                    <i class="md md-star"></i>
                    <i class="md md-star"></i>
                    <i class="md md-star"></i>
                    <i class="md md-star-outline"></i>
                    <i class="md md-star-outline"></i>
                </span>
            </div>
            
            <div class="pull-right"><?php echo get_setting('difficulty_level_3_integral'); ?> 积分</div>
        </li>
        <li class="clearfix">
            <div class="pull-left m-r-10">
                4 
                <span class="c-purple">
                    <?php echo get_setting('difficulty_level_4_text'); ?>
                    <i class="md md-star"></i>
                    <i class="md md-star"></i>
                    <i class="md md-star"></i>
                    <i class="md md-star"></i>
                    <i class="md md-star-outline"></i>
                </span>
            </div>
            
            <div class="pull-right"><?php echo get_setting('difficulty_level_4_integral'); ?> 积分</div>
        </li>
        <li class="clearfix">
            <div class="pull-left m-r-10">
                5 
                <span class="c-orange">
                    <?php echo get_setting('difficulty_level_5_text'); ?>
                    <i class="md md-star"></i>
                    <i class="md md-star"></i>
                    <i class="md md-star"></i>
                    <i class="md md-star"></i>
                    <i class="md md-star"></i>
                </span> 
            </div>
            
            <div class="pull-right"><?php echo get_setting('difficulty_level_5_integral'); ?> 积分</div>
        </li>
    </ul>
</div>

