<div class="user-center-menu hidden-xs">
    <div class="user-info-entry">
        <div class="list-group">
            <a href="people/<?php echo $this->user_id; ?>" class="list-group-item"><i class="md md-home"></i> 返回我的主页</a>
        </div>
    </div>

    <div class="user-info-entry">
        <div class="list-group">
            <a href="notifications/" class="list-group-item <?php if ($_GET['app'] == 'notifications') { ?>active<?php } ?>"><i class="md md-notifications"></i> 我的消息</a>
            <a href="inbox/" class="list-group-item <?php if ($_GET['app'] == 'inbox') { ?>active<?php } ?>"> <i class="md md-email"></i> 我的私信</a>
            <a href="draft/" class="list-group-item <?php if ($_GET['app'] == 'draft') { ?>active<?php } ?>"> <i class="md md-description"></i> 我的草稿 <?php if ($this->user_info['draft_count']) { ?><span class="badge"><?php echo $this->user_info['draft_count']; ?></span><?php } ?></a>
            <a href="favorite/" class="list-group-item <?php if ($_GET['app'] == 'favorite') { ?>active<?php } ?>"> <i class="md md-bookmark"></i> 我的收藏</a>
            <a href="integral/" class="list-group-item <?php if ($_GET['app'] == 'integral') { ?>active<?php } ?>"> <i class="md md-attach-money"></i> 我的积分</a>
        </div>
    </div>

    <div class="user-info-entry">
        <div class="list-group">
            <a href="account/setting/" class="list-group-item <?php if ($_GET['app'] == 'account') { ?>active<?php } ?>"> <i class="md md-settings"></i> 我的设置</a>
            <a href="invitation/" class="list-group-item <?php if ($_GET['app'] == 'invitation') { ?>active<?php } ?>"> <i class="md md-person-add"></i> 邀请注册 <?php if ($this->user_info['invitation_available']) { ?><span class="badge"><?php echo $this->user_info['invitation_available']; ?></span><?php } ?></a>
        </div>
    </div>
</div>
    