<?php if (is_array($this->sidebar_hot_users)) { ?>
	<ul class="sidebar-user-list clearfix">
		<?php foreach($this->sidebar_hot_users AS $key => $val) {?>	
			<li class="sidebar-user-item">
				<a href="people/<?php echo $val['url_token']; ?>" title="<?php echo $val['user_name']; ?>">
					<img class="img-circle" alt="" src="<?php echo get_avatar_url($val['uid'], 'min'); ?>" />
					<?php if ($val['verified']) { ?><i class="icon-v<?php if ($val['verified'] == 'enterprise') { ?> i-ve<?php } ?>" title="<?php if ($val['verified'] == 'enterprise') { ?>企业认证<?php } else { ?>个人认证<?php } ?>"></i><?php } ?>
				</a>
			</li>
		<?php } ?>
	</ul>
<?php } ?>