<div class="carousel-inner" role="listbox">
    <?php if($this->user_quiz_messages)  { ?>
        <?php foreach ($this->user_quiz_messages as $key => $message) { ?>
            <div class="item <?php if($key == 0) { ?>active<?php } ?>">
                <p>
                    <a href="people/<?php echo $message['user_url']; ?>" class="user-tag user-name" data-id="<?php echo $message['uid']; ?>"><strong><?php echo $message['user_name']; ?></strong></a> 回答了 <a class="<?php if($message['is_countdown']) { ?>c-orange<?php } else { ?>c-lightblue<?php } ?>" href="question/<?php echo $message['question_id']; ?>"><strong><?php if($message['is_countdown']) { ?> <i class="md md-access-alarm"></i> 限时答题：***<?php echo cjk_substr($message['question_title'], 2, 4, 'UTF-8', '***'); ?> <?php } else { echo cjk_substr($message['question_title'], 0, 15, 'UTF-8', '...'); } ?></strong></a> <?php if($message['passed']) { ?><strong class="c-green m-l-5">回答正确</strong> <?php } else { ?> <strong class="c-red m-l-5"></i>回答错误</strong> <?php } ?> <span class="c-gray m-l-5"><?php echo date_friendly($message['record_time']); ?></span>
                </p>
            </div> 
        <?php }?>
    <?php } ?>
</div>
<!-- Controls -->
<a class="up carousel-control" href="#slide-user-quiz-message" role="button" data-slide="prev">
    <i class="md md-arrow-drop-up" aria-hidden="true"></i>
    <span class="sr-only">Previous</span>
</a>
<a class="down carousel-control" href="#slide-user-quiz-message" role="button" data-slide="next">
    <i class="md md-arrow-drop-down" aria-hidden="true"></i>
    <span class="sr-only">Next</span>
</a>