<?php $rank_colors = array('c-red', 'c-orange', 'c-purple'); ?>
<div class="listview">
    <div class="lv-header">
        <?php switch ($this->rank_type) {
            case 'success_ratio':
                $rank_title = '用户正确率榜';
            break;
            case 'integral':
                $rank_title = '用户积分榜';
            break;
            
            default:
                $rank_title = '用户排行榜';
            break;
        } ?>
        <?php echo $rank_title; ?>
    </div>
    <div class="lv-body">
        <?php foreach ($this->user_rank_list as $key => $val) { ?>
            <a class="lv-item" href="people/<?php echo $val['url_token']; ?>">
                <div class="media">
                    <span class="user-rank-tag <?php echo $rank_colors[$key % 3]; ?>"><?php echo $key + 1; ?></span>
                    <div class="user-tag user-img pull-left" data-id="<?php echo $val['uid']; ?>">
                        <img class="lv-img-sm" src="<?php echo get_avatar_url($val['uid'], 'mid'); ?>" alt="">
                    </div>
                    <div class="media-body">
                        <div class="lv-title">
                            <span class="user-tag user-name" data-id="<?php echo $val['uid']; ?>"><?php echo $val['user_name']; ?></span>
                            <?php if ($val['verified']) { ?><i class="icon-v<?php if ($val['verified'] == 'enterprise') { ?> i-ve<?php } ?>" title="<?php if ($val['verified'] == 'enterprise') { ?><?php _e('企业认证'); ?><?php } else { ?><?php _e('个人认证'); ?><?php } ?>"></i><?php } ?>
                        </div>

                        <?php if($this->rank_type == 'success_ratio') { ?>
                            <small class="lv-small <?php if($val['question_quiz_success_ratio'] >= 0.5) { ?>c-green<?php } else { ?>c-red<?php } ?>">
                                正确率: <?php echo number_format($val['question_quiz_success_ratio'] * 100, 0); ?>%
                            </small>
                        <?php } else if($this->rank_type == 'integral') { ?>
                            <small class="lv-small">
                            积分：<?php echo $val['integral']; ?>
                            </small>
                        <?php } ?>
                    </div>
                </div>
            </a>
        <?php } ?>
    </div>
    <a class="lv-footer" href="people/sort_type-<?php echo $this->rank_type; ?>">全部榜单</a>
</div>