/* 题目难度控件 */

#delete-quiz-options {
  margin-left: 15px;
  border: none !important;
}

.rating-container .rating-stars {
  color: #ff9800;
}

.rating-container {
  color: #e0e0e0;
  font-size: 24px;
}

/* 题目选项编辑对话框 */

#quiz-option-error-message i {
  cursor: pointer;
}

.quiz-preview {
  /*max-width: 316px;*/
}

.quiz-preview .quiz-options {
  margin-bottom: 23px;
}

#quiz-summary div {
  margin-bottom: 15px;
}

.quiz-option-common {
  height: 40px;
  margin-bottom: 10px;
}

#quiz-type {
  padding-left: 0px;
}

#quiz-type .dropdown-toggle {
  height: 34px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 4px;
}

#quiz-countdown {
  padding-right: 0px;
}

#quiz-countdown-input {
  display: none;
}

#enable-quiz-countdown {
  display: inline-block;
  margin-bottom: 0;
}

.quiz-countdown-input {
  display: inline-block;
  margin-left: 15px;
  max-width: 50%;
}

#quiz-countdown-input {
   margin-bottom: 0 !important;
}

.column-answer {
  width: 10px;
}

.column-action {
  width: 20px;
}

.dlg-control {
  padding: 6px;
}

.quiz-option-page .btn.delete {
  border: none !important;
}

.quiz-option-page table tr td {
  border-top: none;
}

.quiz-option-page table tr th {
  border-bottom: 1px solid #f0f0f0;
}

.quiz-option-single-add td,
.quiz-option-multiple-add td {
  border-top: 1px solid #f0f0f0 !important;
}

.quiz-option-page table input {
  margin-bottom: 0px;
}

.quiz-option-page table td {
  min-width: 50px;
}

.quiz-option-page.default-page {
  top: 100px;
  position: relative;
  text-align: center;
}

.quiz-word-group {
  margin-top: -1px;
}

.quiz-option-crossword-answer {
  margin-bottom: 10px;
}

.quiz-option-crossword-answer input {
  margin-bottom: 0;
}

#quiz-option-crossword-words {
  margin-bottom: 0;
  padding: 10px;
  resize: none;
}

#quiz-option-crossword-words-hint .match {
  color: green;
  padding: 0 6px;
}

#quiz-option-crossword-words-hint .mismatch {
  color: red;
  padding: 0 6px;
}

.quiz-option-crossword-toolbar {
  margin-top: 10px;
}

.quiz-option-crossword-toolbar button {
  margin-right: 15px;
}