.quiz-option {
	display: table;
	border: 1px solid #eee;
	margin: 15px 0;
	border-radius: 4px;
	width: 100%;
	cursor: pointer;
	background-color: #fff;
}

.quiz-option span {
	display: table-cell;
	vertical-align: middle;
	padding: 10px 20px;
}

.quiz-option .quiz-option-tag {
	display: table-cell;
	text-align: center;
	background-color: #eee;
	width: 40px;
	line-height: 28px;
	padding-left: 10px;
	padding-right: 10px;
}

.quiz-option.checked {
	border-color: #03A9F4;
}

.quiz-option.checked .quiz-option-tag {
	background-color: #03A9F4;
	color: #fff;
}

.quiz-single-selection .quiz-option .quiz-option-mark,
.quiz-multiple-selection .quiz-option .quiz-option-mark {
	display: none;
}

.quiz-single-selection .quiz-option.checked .quiz-option-mark,
.quiz-multiple-selection .quiz-option.checked .quiz-option-mark {
	display: inline-block;
	float: left;
	font-size: 1.3em;
	width: 28px;
}

.quiz-single-selection .quiz-option .quiz-option-index,
.quiz-multiple-selection .quiz-option .quiz-option-index {
	width: 28px;
	display: inline-block;
}

.quiz-single-selection .quiz-option.checked .quiz-option-index,
.quiz-multiple-selection .quiz-option.checked .quiz-option-index {
	display: none;
}

.quiz-countdown .timer li {
	display: inline-block;
	margin: 15px 25px 15px 0;
}

.quiz-countdown .timer li span {
	display: block;
	text-align: center;
}

.quiz-submit {
	display: inline-block;
	float: left;
	margin-top: 5px;
}

.quiz-submit-answer {
	cursor: pointer;
	border-radius: 4px;
	padding: 8px 12px;
	background-color: #4CAF50;
	color: #fff;
}

.quiz-submit-answer:hover {
	color: #fff;
	opacity: 0.8;
}

.quiz-submit-answer.disabled {
	opacity: 0.5;
	pointer-events: none;
}

.quiz-submit-answer:active {
	color: #fff;
	opacity: 1.0;
}

.quiz-word-group {
	max-width: 336px;
}

.quiz-word-key,
.quiz-answer-key {
	display: inline-block;
	border:1px solid #eee;
	padding: 9px 12px;
	margin: 1px;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	text-align: center;
	vertical-align: middle;
}

.quiz-word-key:hover,
.quiz-answer-key:hover {
	color: inherit;
	background-color: #f9f9f9;
}

.quiz-answer-board {
	margin: 15px 0;
}

.quiz-text-input {
	display: table;
	border: 1px solid #eee;
	margin: 15px 0;
	border-radius: 4px;
	width: 100%;
	cursor: pointer;
	background-color: #fff;
}

.quiz-text-input label {
	display: table-cell;
	text-align: center;
	background-color: #eee;
	width: 40px;
	line-height: 28px;
	padding: 10px;
}

.quiz-text-input .quiz-input {
	display: table-cell;
	vertical-align: middle;
	padding: 14px 20px;
	width: 100%;
	border: none;
}