.quiz-single-selection .quiz-option .quiz-option-mark,
.quiz-multiple-selection .quiz-option .quiz-option-mark {
	display: none;
}

.quiz-single-selection .quiz-option.checked .quiz-option-mark,
.quiz-multiple-selection .quiz-option.checked .quiz-option-mark {
	display: inline-block;
	float: left;
	color: #4cae4c;
	font-size: 1.3em;
	width: 28px;
}

.quiz-single-selection .quiz-option .quiz-option-index,
.quiz-multiple-selection .quiz-option .quiz-option-index {
	width: 28px;
	display: inline-block;
}

.quiz-single-selection .quiz-option.checked .quiz-option-index,
.quiz-multiple-selection .quiz-option.checked .quiz-option-index {
	display: none;
}

.quiz-countdown {
	display: inline-block;
	float: right;
}

.quiz-countdown .timer .alarm {
	color: #d9534f;
}

.quiz-countdown .timer span {
	margin-left: 6px;
	line-height: 32px;
	font-size: 14px;
	padding: 0 10px;
	display: inline-block;
}

.quiz-submit {
	display: inline-block;
	float: left;
}

.quiz-word-key {
	width: 40px;
	height: 40px;
	border-radius: 0 !important;
  	margin: -1px 0 0 -1px !important;
}

.quiz-answer-key {
	width: 40px;
	height: 40px;
}

.quiz-answer-board {
	margin: 15px 0;
}
