<?php TPL::output('global/header.tpl.htm'); ?>

<section id="main">
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <?php TPL::output('block/sidebar_menu.tpl.htm'); ?>
                </div>
                <div class="col-sm-9">
                    <div class="card clearfix">
                        <div class="card-header">
                            <h2 class="user-center-header">
                                <i class="md md-person-add"></i> 邀请好友注册 
                            </h2>               
                        </div>
                        <div class="card-body card-padding">
                            <div class="alert alert-success" role="alert">你还有<strong><?php echo $this->user_info['invitation_available']; ?></strong>个邀请名额</div>
                            <form id="invitation_form" method="post" action="invitation/ajax/invite/" onsubmit="return false">
                                
                                <div class="form-group">
                                    <input class="form-control" type="text" name="email" placeholder="请输入好友邮箱" />
                                </div>
                                
                                <a class="btn btn-normal btn-primary" onclick="AWS.ajax_post($('#invitation_form')); return false;"><?php _e('发送邀请'); ?></a>
                                
                            </form>
                        </div>
                    </div>
                    <div class="card clearfix">
                        <div class="card-header">
                            <h2>
                                <i class="md md-people"></i> 已经邀请的好友
                            </h2>
                        </div>
                        <div class="listview">
                            <div class="lv-body" id="invitation_list">
                            </div>
                        </div>
                        <div class="load-more m-b-25">
                            <a href="javascript:void(0);" id="invitation_more"><i class="md md-refresh"></i> 加载更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<script type="text/javascript">
$(document).ready(function() {
	AWS.load_list_view(G_BASE_URL + '/invitation/ajax/invitation_list/', $('#invitation_more'),  $('#invitation_list'));
});
</script>

<?php TPL::output('global/footer.tpl.htm'); ?>