<?php TPL::output('global/header.tpl.htm'); ?>

<section id="main">
    <section id="content">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h2><strong class="c-lightblue"><?php echo addslashes($this->keyword); ?></strong> 的搜索结果</h2>
                </div>
                <div class="card-body">
                    <div role="tabpanel">
                        <ul class="tab-nav" role="tablist" id="search-type">
                            <li><a href="#questions">问题</a></li>
                            <li><a href="#topics">专题</a></li>
                            <li><a href="#articles">知识</a></li>
                            <li><a href="#users">用户</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="listview">
                                <div class="lv-body" id="search_result">
                                </div>
                            </div>
                            <div class="load-more">
                                <a href="javascript:void(0);" auto-load="false" id="search_result_more" data-page="1">
                                    <i class="md md-refresh"></i> 加载更多
                                </a>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/app/search.js"></script>

<script type="text/javascript">
	search_query = '<?php echo addslashes($this->keyword); ?>';
	split_query = '<?php echo addslashes($this->split_keyword); ?>';
	<?php if ($_GET['is_recommend']) { ?>search_recommend = true;<?php } ?>
</script>

<?php TPL::output('global/footer.tpl.htm'); ?>