<?php TPL::output('global/header.tpl.htm'); ?>

<section id="main">
	<section id="content">
		<div class="container">
			<div class="card">
				<div class="card-header bgm-cyan">
					<h2>
						发布知识
						<small>分享你觉得有意思的知识</small>
					</h2>
				</div>
				<div class="card-body card-padding">
					<form action="publish/ajax/<?php if ($this->article_info['id']) { ?>modify<?php } else { ?>publish<?php } ?>_article/" method="post" id="question_form" onsubmit="return false;">
						<input type="hidden" name="post_hash" value="<?php echo new_post_hash(); ?>" />
						<input type="hidden" name="attach_access_key" value="<?php echo $this->attach_access_key; ?>" />
						<input type="hidden" name="article_id" id="article_id" value="<?php echo $this->article_info['id']; ?>" />
						<input type="hidden" name="category_id" id="category_id" value="<?php echo $this->article_info['category_id']; ?>" />

						<div class="question-publish-group">
							<p class="f-500 m-b-5 c-black">知识的分类 <small class="c-gray">你分享的知识属于以下哪种类型</small></p>
							<div class="question-publish-item">
								<?php if ($this->article_category_items) { ?>
									<?php if($this->article_category_items) { ?>
										<ul class="category-items">
											<?php foreach ($this->article_category_items as $key => $value) { ?>
												<li class="category-item <?php if($this->article_info['category_id'] == $key) { ?>active<?php } ?>" data-value="<?php echo $key; ?>">
													<a href="javascript:void(0);"><?php echo $value['title']; ?></a>
												</li>
											<?php } ?>
										</ul>
									<?php } ?>
								<?php } else { ?>
									<div class="alert alert-danger" role="alert">
		                                暂时没有知识分类，请联系系统管理员在后台添加。
		                            </div>
								<?php } ?>
							</div>
						</div>

						<div class="question-publish-group">
							<p class="f-500 m-b-5 c-black">知识标题 <small class="c-gray">你分享的知识的标题</small></p>
							<div class="question-publish-item">
								<input type="text" name="title" value="<?php echo $this->article_info['title']; ?>" class="form-control" placeholder="知识标题..." />
							</div>
						</div>

						<div class="question-publish-group">
							<p class="f-500 m-b-5 c-black">知识内容 <small class="c-gray">你分享的知识的内容</small></p>
							<div class="question-publish-item">
								<div class="wmd-panel">
									<textarea class="wmd-input form-control autosize editor" id="wmd-input" rows="15" name="message"><?php echo $this->article_info['message']; ?></textarea>
						        </div>
						        <p class="c-gray"><span class="pull-right" id="question_detail_message">&nbsp;</span></p>
								<?php if (get_setting('upload_enable') == 'Y' AND get_setting('advanced_editor_enable' == 'Y')) { ?>
									<div class="upload-box hidden-xs">
										<a class="btn btn-success btn-sm">上传附件</a>
										<small class="c-gray m-l-15">允许: <?php echo get_setting('allowed_upload_types'); ?></small>
										<div class="upload-container"></div>
									</div>
								<?php } ?>
							</div>
						</div>
					</form>
				</div>
				<div class="card-body card-padding publish-question-footer clearfix">
					<button class="btn btn-primary btn-publish-submit" id="publish_submit" onclick="AWS.ajax_post($('#question_form')); return false;">确认发布</button>

					<?php if ($this->human_valid) { ?>
						<div class="aw-auth-img clearfix">
							<em class="auth-img pull-right"><img src="" onclick="this.src = G_BASE_URL + '/account/captcha/' + Math.floor(Math.random() * 10000);" id="captcha"  /></em>
							<input class="pull-right form-control" type="text" name="seccode_verify" placeholder="验证码" />
						</div>
					<?php } ?>
				</div>
			</div>
		</div>
	</section>
</section>

<script type="text/javascript">
	var ATTACH_ACCESS_KEY = '<?php echo $this->attach_access_key; ?>';
	var CATEGORY_ID = <?php echo $this->article_info['category_id']; ?>;
	var PUBLISH_TYPE = 'article';
</script>

<?php TPL::output('global/footer.tpl.htm'); ?>