<?php TPL::output('global/header.tpl.htm'); ?>

<section id="main">
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <?php TPL::output('block/sidebar_menu.tpl.htm'); ?>
                </div>
                <div class="col-sm-9">
                    <div class="card clearfix">
                        <div class="card-header">
                            <h2 class="user-center-header">
                                <i class="md md-notifications"></i> 我的消息
                            </h2>
                            <ul class="actions">
                                <li data-toggle="tooltip" data-original-title="消息设置" data-placement="bottom">
                                    <a href="account/setting/privacy/#!notifications">
                                        <i class="md md-settings"></i>
                                    </a>
                                </li>
                                <li data-toggle="tooltip" data-original-title="全部已读" data-placement="bottom">
                                    <a href="javascript:;" onclick="AWS.Message.read_notification(true, 0, true);">
                                        <i class="md md-done-all"></i>
                                    </a>
                                </li>
                            </ul>                           
                        </div>
                        <div class="listview">
                            <div class="lv-body" id="notifications_list">
                            </div>
                            <div class="lv-footer"></div>
                        </div>
                        <div class="load-more m-b-25">
                            <a href="javascript:void(0);" id="notifications_more"><i class="md md-refresh"></i> 加载更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<script type="text/javascript">
	$(document).ready(function () {
		AWS.load_list_view(G_BASE_URL + '/notifications/ajax/list/', $('#notifications_more'), $('#notifications_list'));
	});
</script>

<?php TPL::output('global/footer.tpl.htm'); ?>