<?php TPL::output('global/header.tpl.htm'); ?>

<div class="container">
    <div id="content">
        <div class="row">
            <div class="col-sm-3">
                <?php TPL::output('block/sidebar_menu.tpl.htm'); ?>
            </div>
            <div class="col-sm-9">
            	<div class="card clearfix">
            		<div class="card-header">
            			<h2><i class="md md-notifications"></i> 我的消息</h2>
            			<ul class="actions">
                            <li data-toggle="tooltip" data-original-title="消息设置" data-placement="bottom">
                                <a href="account/setting/privacy/#!notifications">
                                    <i class="md md-settings"></i>
                                </a>
                            </li>
                            <li data-toggle="tooltip" data-original-title="全部已读" data-placement="bottom">
                                <a href="javascript:;" onclick="AWS.Message.read_notification(true, 0, true);">
                                    <i class="md md-done-all"></i>
                                </a>
                            </li>
                        </ul>							
            		</div>
            		<div class="listview">
            			<div class="lv-body" id="notifications_list">
            			</div>
            			<div class="lv-footer"></div>
            		</div>
            	</div>
            	<div class="card text-center">
                    <div class="card-body card-padding">
                        <a href="javascript:void(0);" id="notifications_more"><i class="md md-refresh"></i> 加载更多</a>
                    </div>
                </div>
            </div>						
        </div>
    </div>
</div>

<div class="aw-container-wrap">
	<div class="container">
		<div class="row">
			<div class="aw-content-wrap clearfix">
				<div class="col-sm-12 col-md-9 aw-main-content">
					<div class="aw-mod clearfix">
						<div class="mod-head common-head clearfix">
							<h2>
								<span class="pull-right hidden-xs">
									<a class="text-color-999" href="account/setting/privacy/#!notifications"><i class="icon icon-setting"></i> <?php _e('通知设置'); ?></a>
									<a onclick="AWS.Message.read_notification(true, 0, true);" class="btn btn-mini btn-success"><?php _e('全部已读'); ?></a>
								</span>

								<?php _e('通知'); ?>
							</h2>
						</div>
						<div class="mod-body">
							<div class="aw-notifications-list">
								<ul id="notifications_listx"></ul>
							</div>
						</div>
						<div class="mod-footer">
							<a class="aw-load-more-content" id="notifications_morex">
								<span><?php _e('更多'); ?>...</span>
							</a>
						</div>
					</div>
				</div>
				<!-- 侧边栏 -->
				<div class="col-md-3 aw-side-bar hidden-xs hidden-sm">
					<?php TPL::output('block/sidebar_menu.tpl.htm'); ?>
				</div>
				<!-- end 侧边栏 -->
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		AWS.load_list_view(G_BASE_URL + '/notifications/ajax/list/', $('#notifications_more'), $('#notifications_list'));
	});
</script>

<?php TPL::output('global/footer.tpl.htm'); ?>