<?php TPL::output('global/header.tpl.htm'); ?>

<section id="main">
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <?php TPL::output('block/sidebar_menu.tpl.htm'); ?>
                </div>
                <div class="col-sm-9">
                    <div class="card clearfix">
                        <div class="card-header">
                            <h2 class="user-center-header">
                                <i class="md md-description"></i> 我的草稿
                            </h2>
                            <ul class="actions">
                                <li data-toggle="tooltip" data-original-title="清空所有" data-placement="bottom">
                                    <a href="javascript:void(0);" onclick="AWS.User.delete_draft('', 'clean'); window.location.reload();">
                                        <i class="md md-delete"></i>
                                    </a>
                                </li>
                            </ul>                           
                        </div>
                        <div class="listview">
                            <div class="lv-body" id="draft_list">
                                
                            </div>
                        </div>
                        <div class="load-more m-b-25">
                            <a href="javascript:void(0);" id="draft_more"><i class="md md-refresh"></i> 加载更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        AWS.load_list_view(G_BASE_URL + '/draft/ajax/list/', $('#draft_more'), $('#draft_list'));
    });
</script>

<?php TPL::output('global/footer.tpl.htm'); ?>