<?php TPL::output('global/header.tpl.htm'); ?>

<div id="content">
	<div class="container">
		<div class="card">
			<div class="card-body card-padding">
				<div class="media">
		            <div class="pull-left topic-details-img">
		            	<div class="topic-details-mark bgm-blue">专题</div>
		                <img class="media-object img-responsive" src="<?php echo get_topic_pic_url('max', $this->topic_info['topic_pic']); ?>" alt="<?php echo $this->topic_info['topic_title']; ?>" />
		            </div>
		            <div class="media-body topic-details-content">
		            	
		                <h4 class="media-heading">
		                	<?php echo $this->topic_info['topic_title']; ?>
		                </h4>
		                <div class="topic-details-info clearfix">
							<span>收录<a href="javascript:void(0);"> <?php echo $this->topic_info['question_count']; ?></a> 个问题 • </span> 
							<span class="topic-details-category">
								<a href="topic/channel-topic__topic_id-<?php echo $this->parent_topic_info['topic_id']; ?>"><i class="md md-local-offer"></i> <?php echo $this->parent_topic_info['topic_title']; ?></a>
							</span>
						</div>
		                <p><?php echo $this->topic_info['topic_description']; ?></p>
		            </div>
		        </div>
		        <div class="topic-details-foucs">
		        	<div class="topic-details-add-foucs clearfix">
	                	<?php if ($this->user_id) { ?>
							<a href="javascript:;" onclick="AWS.User.follow($(this), 'topic', <?php echo $this->topic_info['topic_id']; ?>);" class="follow <?php if ($this->topic_info['has_focus']) { ?> following <?php } ?>">
								<span>
									<?php if ($this->topic_info['has_focus']) { ?><i class="md md-check"></i> <?php _e('正在关注'); ?><?php } else { ?><i class="md md-add"></i> <?php _e('添加关注'); ?><?php } ?>
								</span> 
								<em>|</em> 
								<b><?php echo $this->topic_info['focus_count']; ?></b>
							</a>
						<?php } ?>
	                </div>
	                <div class="topic-details-foucs-label">谁正在关注</div>
	                <div class="topic-details-foucs-users clearfix">
	                	
	                	<div id="focus_users">
	                		
	                	</div>
	                </div>
		        </div>
			        
			</div>
		</div>

		<!-- 问题列表 -->

		<?php TPL::output('block/question_list.tpl.htm'); ?>

		<div class="sidebar col-sm-3 hidden-xs">
			<!-- 推荐专题 -->
			<div class="card sidebar-hot-topics">
				<div class="card-header">
	                <h2>推荐专题</h2>
	                <ul class="actions">
	                    <li>
	                       <a href="topic/"><i class="md md-chevron-right"></i></a>
	                    </li>
	                </ul>
	            </div>
				<div class="card-body card-padding">
					<?php TPL::output('block/sidebar_hot_topics.tpl.htm'); ?>
				</div>
	        </div>
	    </div>
	</div>
</div>

<script type="text/javascript">
	var TOPIC_ID = '<?php echo $this->topic_info['topic_id']; ?>';

	var CONTENTS_TOPIC_ID = '<?php echo $this->contents_topic_id; ?>';
	var CONTENTS_RELATED_TOPIC_IDS = '<?php echo $this->contents_related_topic_ids; ?>';
	var CONTENTS_TOPIC_TITLE = '<?php echo $this->contents_topic_title; ?>';
</script>

<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/app/topic.js"></script>

<?php TPL::output('global/footer.tpl.htm'); ?>