<?php TPL::output('global/header.tpl.htm'); ?>

<section id="main">
	<section id="content">
		<div class="container">
			<div class="row">
				<div class="col-sm-5 p-r-0">
					<div class="card m-b-0">
						<div class="card-body">
							<div class="topic-details-img">
				            	<div class="topic-details-mark bgm-blue">专题</div>
				                <img class="img-responsive" src="<?php echo get_topic_pic_url('max', $this->topic_info['topic_pic']); ?>" alt="<?php echo $this->topic_info['topic_title']; ?>" />
				            </div>
						</div>
					</div>
				</div>
				<div class="col-sm-7 p-l-0">
					<div class="card topic-details">
						<div class="card-header card-padding p-b-0">
		        			<h2>
		        				<span class="topic-title-mark">专题：</span><?php echo $this->topic_info['topic_title']; ?>
		        			</h2>
		        			<ul class="topic-stats m-t-10">
								<li>收录<strong class="c-lightblue"> <?php echo $this->topic_info['question_count']; ?></strong> 个问题</li> 
								<li>
									<a class="c-lightblue" href="topic/channel-topic__topic_id-<?php echo $this->parent_topic_info['topic_id']; ?>"><i class="md md-local-offer"></i> <?php echo $this->parent_topic_info['topic_title']; ?></a>
								</li>
							</ul>
		        			<?php if($this->user_info['permission']['is_administortar'] OR $this->user_info['permission']['is_moderator']) { ?>
			        			<ul class="actions">
			                        <li class="dropdown action-show">
			                            <a href="#" data-toggle="dropdown">
			                                <i class="md md-more-vert"></i>
			                            </a>
			                            
			                            <ul class="dropdown-menu dropdown-menu-right">
			                                <li>
			                                   <a href="javascript:;" onclick="AWS.ajax_request(G_BASE_URL + '/recommend/ajax/recommend_homepage/', 'type=topic&id=<?php echo $this->topic_info['topic_id']; ?>');"><?php if ($this->topic_info['is_recommend_homepage']) { ?>取消精选<?php } else { ?>首页精选<?php } ?></a>
			                                </li>
			                            </ul>
			                        </li>
			                    </ul>
		                    <?php } ?>
		        		</div>
						<div class="card-body card-padding p-t-15">
							<div class="topic-details-content">
								<p><?php echo $this->topic_info['topic_description']; ?></p>
							</div>
							<div class="topic-details-add-foucs">
								<a href="javascript:;" onclick="AWS.User.follow($(this), 'topic', <?php echo $this->topic_info['topic_id']; ?>);" class="follow <?php if ($this->topic_info['has_focus']) { ?> following <?php } ?>">
									<span>
										<?php if ($this->topic_info['has_focus']) { ?><i class="md md-check"></i> 正在关注<?php } else { ?><i class="md md-add"></i> 添加关注<?php } ?>
									</span>
								</a>
			                </div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<!-- 问题列表 -->

				<div class="question-list col-sm-8">
					<?php TPL::output('block/question_list.tpl.htm'); ?>

					<!-- 分页 -->
					<?php if($this->pagination) { ?>
				        <div class="card">
				        	<div class="card-body card-padding">
				        		<?php echo $this->pagination; ?>
				        	</div>
				        </div>
				    <?php } ?>
				</div>
				
				<div class="sidebar col-sm-4 hidden-xs">
					<div class="card">
						<div class="card-header p-b-0">
							<h2>共 <?php echo $this->topic_info['focus_count']; ?> 人关注该专题</h2>
						</div>
						<div class="card-body card-padding">
							<ul class="user-list-square" id="focus_users">
				            </ul>
						</div>
					</div>
					<!-- 推荐专题 -->
					<div class="card sidebar-hot-topics">
						<div class="card-header">
			                <h2>热门专题</h2>
			                <ul class="actions">
			                    <li class="action-item-link">
			                        <a href="topic/">所有专题<i class="md md-chevron-right c-lightblue"></i></a>
			                    </li>
			                </ul>
			            </div>
						<div class="card-body card-padding">
							<?php TPL::output('block/sidebar_hot_topics.tpl.htm'); ?>
						</div>
			        </div>
			    </div>
			</div>
		</div>
	</section>
</section>

<script type="text/javascript">
	var TOPIC_ID = '<?php echo $this->topic_info['topic_id']; ?>';

	var CONTENTS_TOPIC_ID = '<?php echo $this->contents_topic_id; ?>';
	var CONTENTS_RELATED_TOPIC_IDS = '<?php echo $this->contents_related_topic_ids; ?>';
	var CONTENTS_TOPIC_TITLE = '<?php echo $this->contents_topic_title; ?>';
</script>

<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/app/topic.js"></script>

<?php TPL::output('block/fixed_side_toolbar.tpl.htm'); ?>
<?php TPL::output('global/footer.tpl.htm'); ?>