<?php TPL::output('global/header.tpl.htm'); ?>

<section id="main">
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="topic-category col-sm-12">
                    <div class="card">
                        <div class="card-body card-padding">
                            <?php if ($this->parent_topics) { ?>
                                <ul class="clearfix">
                                    <li>
                                        <a <?php if (!$_GET['topic_id']) { ?>class="active"<?php } ?> href="topic/">全部专题</a>
                                    </li>
                                    <?php foreach ($this->parent_topics AS $key => $val) { ?>
                                        <li class="topic-category-item">
                                            <a <?php if ($_GET['topic_id'] == $val['topic_id']) { ?> class="active"<?php } ?> href="topic/channel-topic__topic_id-<?php echo $val['topic_id']; ?>"> <?php echo $val['topic_title']; ?></a>
                                        </li>
                                    <?php } ?>
                                </ul>
                            <?php } ?>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="topic-list clearfix">
                    <?php if ($this->topics_list) { ?>
                        <?php foreach ($this->topics_list AS $key => $val) { ?>
                            <?php if(!$val['is_parent']) { ?>
                                <div class="topic-item col-sm-4">
                                    <div class="card m-b-0">
                                        <div class="card-header">
                                            <h2><a target="_blank" href="topic/<?php echo $val['topic_id']; ?>" data-id="<?php echo $val['topic_id']; ?>"><?php echo $val['topic_title']; ?></a>
                                                <small><!-- 话题统计 -->
                                                    <ul class="topic-stats">
                                                        <li class="topic-stats-item"><a target="_blank" href="topic/<?php echo $val['topic_id']; ?>">收录 <?php echo $val['question_count']; ?> 个问题</a> </li>
                                                        <li class="topic-stats-item"><?php echo $val['focus_count']; ?> 人关注</li>
                                                    </ul>
                                                </small>
                                            </h2>
                                            <div class="topic-item-add-foucs">
                                                <a href="javascript:;" onclick="AWS.User.follow($(this), 'topic', <?php echo $val['topic_id']; ?>);" class="follow <?php if ($val['has_focus']) { ?> following <?php } ?>">
                                                    <span>
                                                        <?php if ($val['has_focus']) { ?><i class="md md-check"></i> 正在关注<?php } else { ?><i class="md md-add"></i> 添加关注<?php } ?>
                                                    </span>
                                                </a>
                                            </div> 
                                        </div>
                                        <div class="card-body card-padding">
                                            <!-- 话题图片 -->
                                            <a class="topic-img" target="_blank" href="topic/<?php echo $val['topic_id']; ?>" data-id="<?php echo $val['topic_id']; ?>">
                                                <img class="img-responsive m-b-15" src="<?php echo get_topic_pic_url('max', $val['topic_pic']); ?>" alt="" />
                                            </a>
                                            
                                            <div class="topic-description">
                                                <?php echo cjk_substr(str_replace("\r\n", ' ', preg_replace('|\[.*\].*\[\/.*\]|si', '', strip_tags($val['topic_description']))), 0, 28, 'UTF-8', '...'); ?> <a target="_blank" href="topic/<?php echo $val['topic_id']; ?>">进入专题 <i class="md md-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="topic-card-bottom-a"></div>
                                    <div class="topic-card-bottom-b"></div>
                                </div>
                            <?php } ?>
                        <?php } ?>
                    <?php } ?>
                </div>
            </div> 
            
            <?php if($this->pagination) { ?>
                <div class="row">
                    <div class="col-sm-12">
                       <div class="card">
                            <div class="card-body card-padding">
                                <?php echo $this->pagination; ?>
                            </div>
                        </div> 
                    </div>
                </div>
            <?php } ?>
        </div>
    </section>
</section>

<?php TPL::output('global/footer.tpl.htm'); ?>
