<?php TPL::output('global/header_meta.tpl.htm'); ?>
<body>
	<header>
		<div class="header">
			<div class="container">
				<a class="navbar-brand icon-logo" href="<?php echo base_url(); ?>" title="脑壳网">脑壳网</a>
				<a class="navbar-slogan hidden-xs" href="<?php echo base_url(); ?>">你我的智力乐园</a>
				<div class="navbar-user visible-xs">
					<ul class="navbar-user-actions">
						<li class="dropdown">
							<a href="#" class="navbar-user-menu tm-settings" data-toggle="dropdown" aria-expanded="false">
	                       		<span class="menu-bar"></span>
	                       		<span class="menu-bar"></span>
	                       		<span class="menu-bar"></span>
	                    	</a>
	                    	<ul class="dropdown-menu dm-icon pull-right">
		                    	<?php if($this->user_id) { ?>
		                    		<li>
										<a href="notifications/" class="<?php if ($_GET['app'] == 'notifications') { ?>active<?php } ?>"><i class="md md-notifications"></i> 消息</a>
										<span class="badge badge-important" style="display:none" id="notifications_unread"><?php echo $this->user_info['notification_unread']; ?></span>
									</li>
									<li class="divider"></li>
									<li><a href="people/<?php echo $this->user_info['url_token']; ?>"><i class="md md-home"></i> 主页</a></li>
									<li><a href="account/logout/"><i class="md md-exit-to-app"></i> 退出</a></li>
		                        <?php } else { ?>
		                        	<li class="navbar-login">
					                    <a href="account/login/">登录</a>
					                </li>
					                <li class="navbar-register">
					                    <a href="account/register/">注册</a>
					                </li>
		                        <?php } ?>
	                        </ul>
						</li>
						<li>
							<a href=""><span class="md md-search"></span></a>
						</li>
					</ul>
	                    
                </div>
				<div class="navbar-user hidden-xs">
		            <ul class="navbar-user-actions">
		            	<!-- 登陆&注册栏 -->
						<?php if ($this->user_id) { ?>
							<li class="dropdown navbar-user-avatar">
								<a href="#" class="tm-settings" data-toggle="dropdown" aria-expanded="false">
									<img class="avatar" alt="<?php echo $this->user_info['user_name']; ?>" src="<?php echo get_avatar_url($this->user_info['uid'], 'mid'); ?>" />
									<i class="caret"></i>
									<?php if ($this->user_info['inbox_unread'] != 0) {?>
										<span class="badge badge-important"><?php echo $this->user_info['inbox_unread']?></span>
									<?php } ?>

								</a>
								<ul class="dropdown-menu dm-icon pull-right">
									<li><a href="people/<?php echo $this->user_info['url_token']; ?>"><i class="md md-home"></i> 主页</a></li>
		                           <li><a href="inbox/"><i class="md md-mail"></i> 私信<span class="badge badge-important hide" id="inbox_unread">0</span></a></li>
									<li class="hidden-xs"><a href="account/setting/profile/"><i class="md md-settings"></i> 设置</a></li>
									<?php if ($this->user_info['permission']['is_administortar'] OR $this->user_info['permission']['is_moderator']) { ?>
									<li class="hidden-xs"><a href="admin/"><i class="md md-dashboard"></i> 管理</a></li>
									<?php } ?>
									<li><a href="account/logout/"><i class="md md-exit-to-app"></i> 退出</a></li>
		                        </ul>
							</li>

							<li class="navbar-user-notification dropdown">
								<a href="notifications/" data-toggle="dropdown" aria-expanded="true" class="tm-notification"><i class="md md-notifications"></i></a>
								<span class="badge badge-important" style="display:none" id="notifications_unread"><?php echo $this->user_info['notification_unread']; ?></span>
								<div class="dropdown-menu dropdown-menu-lg pull-right">
									<div class="mod-body">
										<ul id="header_notification_list"></ul>
									</div>
									<div class="mod-footer">
										<a href="notifications/"><?php _e('查看全部'); ?></a>
									</div>
								</div>
							</li>
								
						<?php } else { ?>
							<li class="navbar-login">
			                    <a href="account/login/">登录</a>
			                </li>
			                <li class="navbar-register">
			                    <a href="account/register/">注册</a>
			                </li>
						<?php } ?>
						<!-- end 登陆&注册栏 -->
		            </ul>
		        </div>
				<form class="navbar-search hidden-xs" action="search/" id="global_search_form" method="post">
					<div class="navbar-search-input fg-line">
						<input class="form-control search-query" type="text" placeholder="<?php _e('搜索问题、话题或人'); ?>" autocomplete="off" name="q" id="aw-search-query" />
					</div>
					<span class="navbar-search-icon" title="<?php _e('搜索'); ?>" id="global_search_btns" onClick="$('#global_search_form').submit();"><a class="icon icon-search"></a></span>
					
					<div class="aw-dropdown">
						<div class="mod-body">
							<p class="title"><?php _e('输入关键字进行搜索'); ?></p>
							<ul class="aw-dropdown-list hide"></ul>
							<p class="search"><span><?php _e('搜索'); ?>:</span><a onClick="$('#global_search_form').submit();"></a></p>
						</div>
						<div class="mod-footer">
							<a href="<?php if (get_setting('quick_publish') == 'Y' && $this->user_id) { ?>javascript:;<?php } else { ?>publish<?php } ?>" onClick="$('#header_publish').click();" class="pull-right btn btn-mini btn-success publish"><?php _e('发起问题'); ?></a>
						</div>
					</div>
				</form>
			</div>
		</div>
        <nav class="main-nav">
        	<div class="container">
        		<ul>
        			<li><a href="<?php echo base_url(); ?>">首页</a></li>
        			<li><a href="question/" class="<?php if ($_GET['app'] == 'question') { ?>active<?php } ?>"><?php _e('答题'); ?></a></li>

					<li><a href="article/" class="<?php if ($_GET['app'] == 'article') { ?>active<?php } ?>"><?php _e('知识'); ?></a></li>
					<li><a href="article/" class="<?php if ($_GET['app'] == 'article') { ?>active<?php } ?>"><?php _e('测试'); ?></a></li>
					<li><a href="article/" class="<?php if ($_GET['app'] == 'article') { ?>active<?php } ?>"><?php _e('排行'); ?></a></li>
				</ul>

				<ul class="nav navbar-nav pull-right hidden-xs">
					<li><a href="publish/"><i class="md md-edit"></i> 我要出题</a></li>
				</ul>	
        	</div>
        </nav>
	</header>
	
	<?php if ($this->user_id AND $this->user_info['email'] AND !$this->user_info['valid_email'] AND get_setting('register_valid_type') != 'N') { ?>
	<div class="aw-email-verify">
		<div class="container text-center">
			<?php _e('你的邮箱 %s 还未验证, <a onclick="AWS.ajax_request(G_BASE_URL + \'/account/ajax/send_valid_mail/\');">点击这里重新发送验证邮件</a>', $this->user_info['email']); ?>
		</div>
	</div>
	<?php } ?>

