<?php TPL::output('global/header.tpl.htm'); ?>

<section id="main">
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 hidden-xs">
                    <?php TPL::output('block/user_homepage_menu.tpl.htm'); ?>
                </div>

                <div class="col-sm-9">
                    <div class="card clearfix">
                        <div class="card-header card-padding">
                            <h2>
                                <?php if($this->current_menu == 'following_friends') { ?>
                                    <i class="md md-person-add"></i> 关注 <?php echo $this->user['friend_count']; ?> 人 
                                <?php } else if ($this->current_menu == 'following_fans') { ?>
                                    <i class="md md-people"></i> 被 <?php echo $this->user['fans_count']; ?> 人关注 
                                <?php } else { ?>
                                    <i class="md md-add-to-photos"></i> 关注的专题 （<?php echo $this->user['topic_focus_count']; ?>）
                                <?php } ?>
                            </h2>
                            <ul class="actions">
                                <li class="action-item-link">
                                   <a href="people/<?php echo $this->user['url_token']; ?>"><i class="md md-chevron-left c-lightblue"></i>返回</a>
                                </li>
                            </ul>
                        </div>

                        <?php if($this->current_menu == 'following_friends') { ?>
                            <div class="user-list-lite">
                                <?php if($this->friends_list) { ?>
                                    <div class="listview">
                                        <div class="lv-body" id="friends-list-items">
                                            <?php TPL::assign('user_list_lite', $this->friends_list); ?>
                                            <?php TPL::output('block/user_list_lite.tpl.htm'); ?>
                                        </div>
                                    </div>
                                <?php } ?>
                            </div>
                        <?php } else if ($this->current_menu == 'following_fans') { ?>
                            <div class="user-list-lite">
                                <?php if($this->fans_list) { ?>
                                    <div class="listview">
                                        <div class="lv-body" id="fans-list-items">
                                            <?php TPL::assign('user_list_lite', $this->fans_list); ?>
                                            <?php TPL::output('block/user_list_lite.tpl.htm'); ?>
                                        </div>
                                    </div>
                                <?php } ?>
                            </div>
                        <?php } else { ?>
                                <?php if ($this->focus_topics) { ?>
                                    <div class="listview">
                                        <div class="lv-body" id="topic-list-lite-items">
                                            <?php TPL::assign('topic_list_lite', $this->focus_topics); ?>
                                            <?php TPL::output('block/topic_list_lite.tpl.htm'); ?>
                                        </div>
                                    </div>
                                <?php } ?>
                        <?php } ?>

                        <div class="load-more m-b-25">
                            <a href="javascript:void(0);" id="<?php if($this->current_menu == 'following_friends') { ?>load-more-foucs-friends-list-lite<?php } else if($this->current_menu == 'following_fans') { ?>load-more-focus-fans-list-lite<?php } else { ?>load-more-focus-topics-list-lite<?php } ?>" auto-load="false" data-page="1"><i class="md md-refresh"></i> 加载更多</a>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </section>
</section>

<script type="text/javascript">
    var PEOPLE_USER_ID = '<?php echo $this->user['uid']; ?>';
</script>

<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/app/people.js"></script>

<?php TPL::output('global/footer.tpl.htm'); ?>