<?php TPL::output('global/header_meta.tpl.htm'); ?>

<section id="main" class="account-main">
	<section id="content" class="account-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div class="card">
						<div class="text-center login-block">
							<div class="card-header card-padding text-center p-b-0">
								<h1>等待审核</h1>
							</div>
							<div class="card-body card-padding">
								<div class="alert alert-success" role="alert">
									<p>感谢您的注册! </p>
									<p>本站点会员注册需要经过管理员审核</p>
									<p>审核结果将会通过邮件通知您，请您的耐心等待！</p>
								</div>
									
								
						    </div>
						    <div class="card-body card-padding">
						    	<small class="c-gray">
			                        提示：<strong>没有收到确认邮件</strong>？有可能在广告邮件、垃圾邮件目录里哦
			                    </small>
						    </div>
						</div>
					</div>
				</div>
				<div class="col-sm-2"></div>
			</div>
		</div>
	</section>
</section>

<?php TPL::output('global/footer.tpl.htm'); ?>