<?php TPL::output('global/header.tpl.htm'); ?>

<section id="main">
	<section id="content">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
	                <?php TPL::output('block/sidebar_menu.tpl.htm'); ?>
	            </div>
	            <div class="col-sm-9">
	            	<div class="card clearfix">
	            		<div class="card-header">
	            			<h2 class="user-center-header">
	                            <i class="md md-bookmark"></i> 我的收藏（<?php echo count($this->list); ?>）
	                        </h2>
	            		</div>
	            		<?php if (sizeof($this->favorite_tags) > 0) { ?>
		            		<div class="card-header card-padding">
		            			<ul class="favorite-tags">
		            				<li><a href="favorite/" class="<?php if(!$this->filter_tag) { ?>active<?php } ?>">全部</a></li>
		            				<?php foreach ($this->favorite_tags AS $key => $val) { ?>
										<li>
											<a class="<?php if($this->filter_tag == $val['title']) { ?>active<?php } ?>" href="favorite/tag-<?php echo urlencode($val['title']); ?>"><?php echo $val['title']; ?></a>
										</li>
									<?php } ?>
		            			</ul>
		            		</div>
	            		<?php } ?>
	            		<div class="listview">
	            			<div class="lv-body">
	            				<?php if (sizeof ($this->list) > 0) { ?>
									<?php foreach ($this->list AS $key => $val) { ?>
										<div class="lv-item media favorite-item">
											<div class="pull-left">
												<?php if ($val['answer_info']['anonymous'] == 0) { ?>
													<a class="user-tag user-img" data-id="<?php echo $val['user_info']['uid']; ?>" data-id="<?php echo $val['user_info']['uid']; ?>" href="people/<?php echo $val['user_info']['url_token']; ?>">
														<img class="lv-img-sm" src="<?php echo get_avatar_url($val['user_info']['uid'], 'mid'); ?>" alt="<?php echo $val['user_info']['user_name']; ?>" />
													</a>
												<?php } else { ?>
													<a href="javascript:;">
														<img class="lv-img-sm" src="<?php echo G_STATIC_URL; ?>/common/avatar-mid-img.png" alt="<?php _e('匿名用户'); ?>" />
													</a>
												<?php } ?>
											</div>
											<div class="media-body">
												<div class="lv-small">
													<?php if ($val['last_action_str']) { ?>
														<?php echo $val['last_action_str']; ?> • <?php echo date_friendly($val['add_time']); ?>
													<?php } ?>
													<?php if ($val['answer_info']) { ?>
														<?php if ($val['answer_info']['anonymous'] == 0) { ?>
															<a class="user-tag user-name" data-id="<?php echo $val['user_info']['uid']; ?>" href="people/<?php echo $val['user_info']['url_token']; ?>">
																<?php echo $val['user_info']['user_name']; ?>
															</a>
															发表回复 • <?php echo date_friendly($val['answer_info']['add_time']); ?>
														<?php } ?>
													<?php } ?>
												</div>
												<div class="lv-title">
													<h4><a href="<?php echo $val['link']; ?>"><?php echo $val['title']; ?></a></h4>
												</div>
												<div>
													<?php if ($val['answer_info']) { ?>
														<!-- 评论内容 -->
														<div id="detail_<?php echo md5($val['item_id'] . $val['item_type']); ?>">
												      		<?php echo cjk_substr(strip_ubb($val['answer_info']['answer_content']), 0, 130, 'UTF-8', '...'); ?>
												      		<?php if (cjk_strlen($val['answer_info']['answer_content']) > 130) { ?>
												        	<a href="javascript:;" class="showMore c-lightblue" onclick="AWS.content_switcher($('#detail_<?php echo md5($val['item_id'] . $val['item_type']); ?>'), $('#detail_more_<?php echo md5($val['item_id'] . $val['item_type']); ?>'));"><?php _e('显示全部'); ?></a>
												        	<?php } ?>

															<?php if ($val['answer_info']['attachs']) { ?>
																<div class="aw-upload-img-list width-auto">
																	<?php foreach($val['answer_info']['attachs'] AS $t_key => $v) { ?>
																	<?php if ($v['is_image']): ?>
																		<a href="javascript:;" onclick="AWS.content_switcher($('#detail_<?php echo md5($val['item_id'] . $val['item_type']); ?>'), $('#detail_more_<?php echo md5($val['item_id'] . $val['item_type']); ?>'));">
																			<img class="img-polaroid" src="<?php echo $v[thumb]; ?>" alt="<?php echo $v['file_name']; ?>" />
																		</a>
																	<?php endif; ?>
																  <?php } ?>
																</div>

																<div class="aw-upload-file-list">
																	<?php foreach($val['answer_info']['attachs'] AS $t_key => $v) { ?>
																	<?php if (!$v['is_image']): ?>
																		<li><a href="<?php echo download_url($v['file_name'], $v['attachment']); ?>"><em class="aw-icon i-upload-file"></em><?php echo $v['file_name']; ?></a></li>
																	<?php endif; ?>
																  <?php } ?>
																</div>
															<?php } ?>
														</div>

														<div id="detail_more_<?php echo md5($val['item_id'] . $val['item_type']); ?>" class="hide">
												      		<?php echo nl2br(strip_ubb($val['answer_info']['answer_content'])); ?>

															<?php if ($val['answer_info']['attachs']) { ?>
																<div class="aw-upload-img-list active">
																	<?php foreach($val['answer_info']['attachs'] AS $k => $v) { ?>
																	<?php if ($v['is_image']): ?>
																		<a href="<?php echo $v['attachment']; ?>" target="lightbox" data-fancybox-group="thumb" rel="lightbox"><img class="img-polaroid" src="<?php echo $v['attachment']; ?>" alt="" /></a>
																	<?php endif; ?>
																  <?php } ?>
																</div>

																<div class="aw-upload-file-list">
																	<?php foreach($val['answer_info']['attachs'] AS $k => $v) { ?>
																	<?php if (!$v['is_image']): ?>
																		<li><a href="<?php echo download_url($v['file_name'], $v['attachment']); ?>"><em class="aw-icon i-upload-file"></em><?php echo $v['file_name']; ?></a></li>
																	<?php endif; ?>
																  <?php } ?>
																</div>
															<?php } ?>
														</div>
														<!-- end 评论内容 -->
													<?php } ?>
												</div>
												<div class="favorite-item-footer">
													<?php if ($this->favorite_items_tags[$val['item_id']]) { ?>
														<ul class="favorite-tags">
															<?php foreach ($this->favorite_items_tags[$val['item_id']] AS $k => $v) { ?>
																<li>
																	<a class="<?php if($this->filter_tag == $v['title']) { ?>active<?php } ?>" href="favorite/tag-<?php echo $v['title']; ?>"><?php echo $v['title']; ?></a>
																</li>
															<?php } ?>
														</ul>
													<?php } ?>
													<ul class="favorite-actions pull-right">
														<li>
															<a class="c-red" onclick="AWS.ajax_request(G_BASE_URL + '/favorite/ajax/remove_favorite_item/', 'item_type=<?php echo $val['item_type']; ?>&item_id=<?php echo $val['item_id']; ?>');">
																取消收藏
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									<?php } ?>
								<?php } ?>
	            			</div>
	            			<div class="lv-footer"></div>
	            		</div>
	            		<div class="m-b-30">
	            			<?php if($this->pagination) { ?>
				            	<?php echo $this->pagination; ?>
			            	<?php } ?>
	            		</div>
	            	</div>
	            </div>
			</div>	
		</div>
	</section>
</section>

<?php TPL::output('global/footer.tpl.htm'); ?>
