<?php TPL::output('global/header.tpl.htm'); ?>

<section id="main">
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header">
                            <h2>答题统计</h2>
                        </div>
                        <div class="card-body card-padding">
                            <div id="question-quiz-stats-chart" style="width:100%;height:250px;">
                                
                            </div>
                            <ul class="p-20">
                                <li class="question-quiz-record-stats-item">
                                    <span><i class="md md-equalizer"></i> 答题总数</span> <strong><?php echo $this->question_info['quiz_count_total']; ?></strong>
                                </li>

                                <li class="question-quiz-record-stats-item">
                                    <span><i class="md md-check"></i> 答题成功</span> <strong><?php echo $this->question_info['quiz_count_passed']; ?></strong>
                                </li>

                                <li class="question-quiz-record-stats-item">
                                    <span><i class="md md-clear"></i> 答题失败</span> <strong><?php echo $this->question_info['quiz_count_total'] - $this->question_info['quiz_count_passed']; ?></strong>
                                </li>

                                <li class="question-quiz-record-stats-item">
                                    <span><i class="md md-alarm-off"></i> 答题超时</span> <strong><?php echo $this->question_info['quiz_count_timeout']; ?></strong>
                                </li>

                                <li class="question-quiz-record-stats-item">
                                    <span><i class="md md-flag"></i> 一次通过</span> <strong><?php echo $this->question_info['quiz_count_POFT']; ?></strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="card">
                        <div class="card-header">
                            <h2>答题记录（<?php echo $this->question_info['quiz_count_total']; ?>）</h2>
                        </div>
                        <div class="listview clearfix">
                            <ul class="lv-body" id="question-quiz-record-items">
                                <?php TPL::assign('quiz_record_list', $this->question_quiz_record); ?>
                                <?php TPL::output('block/quiz_record_list.tpl.htm'); ?>
                            </ul>
                            
                            <div class="load-more m-b-25">
                                <a href="#" id="load-more-question-quiz-record" auto-load="false"><i class="md md-refresh"></i> 加载更多</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<script type="text/javascript">
    var QUESTION_QUIZ_STATS_TOTAL = "<?php echo $this->question_info['quiz_count_total']; ?>";
    var QUESTION_QUIZ_STATS_PASSED = "<?php echo $this->question_info['quiz_count_passed']; ?>";
    var QUESTION_QUIZ_STATS_TIMEOUT = "<?php echo $this->question_info['quiz_count_timeout']; ?>";
     var QUESTION_QUIZ_STATS_FAILED = "<?php echo $this->question_info['quiz_count_total'] - $this->question_info['quiz_count_passed'] - $this->question_info['quiz_count_timeout']; ?>";

    $(function(){
        var recordData = [
            {data: parseInt(QUESTION_QUIZ_STATS_FAILED), color: '#F44336', label: '答题失败'},
            {data: parseInt(QUESTION_QUIZ_STATS_PASSED), color: '#8BC34A', label: '答题成功'},
            {data: parseInt(QUESTION_QUIZ_STATS_TIMEOUT), color: '#FF5722', label: '答题超时'}        
        ];
        $.plot('#question-quiz-stats-chart', recordData, {
            series: {
                pie : {
                    show: true,
                    stroke: { 
                        width: 2,
                    }
                }
            },
            legend: {
                show: false
            }
        });

        // 绑定加载更多

        AWS.load_list_view(G_BASE_URL + "/question/ajax/load_more_question_quiz_record/question_id-<?php echo $this->question_info['question_id']; ?>", $('#load-more-question-quiz-record'), $('#question-quiz-record-items'), 2);
    });
</script>

<?php TPL::output('global/footer.tpl.htm'); ?>