<?php TPL::output('global/header.tpl.htm'); ?>

<!-- 移动导航栏 -->
<div class="m-question-list-heading visible-xs" data-spy="affix" data-offset-top="60" data-offset-bottom="118">
	<div class="card">
		<div class="card-body card-padding">
			<ul class="m-question-filter clearfix">
				<li><a href="#m-question-filter" data-toggle="modal"><i class="md md-filter-list"></i> 筛选</a></li>
				<li class="dropdown">
					<a href="#" data-toggle="dropdown">最新 <i class="caret"></i></a>
					<ul class="dropdown-menu clearfix">
                        <li><a href="javascript:;">最新</a></li>
                        <li><a href="javascript:;">推荐</a></li>
                        <li><a href="javascript:;">热门</a></li>
                    </ul>
				</li>
				<li class="m-question-list-publish">
					<a href="publish/"><i class="md md-create"></i> 出题</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="modal fade" id="m-question-filter" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card">
                <div class="card-header ch-alt">
                    <h2>Alternative Example <small>You can type anything here...</small></h2>

                    <ul class="actions">
                        <li>
                            <a href="#">
                                <i class="md md-cached"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="md md-file-download"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown">
                                <i class="md md-more-vert"></i>
                            </a>
                            
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="#">Change Date Range</a>
                                </li>
                                <li>
                                    <a href="#">Change Graph Type</a>
                                </li>
                                <li>
                                    <a href="#">Other Settings</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="card-body card-padding">
                    Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis. 
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect">Save changes</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<section id="content">
	<div class="container">
		<!-- 分类筛选 -->
		<div class="card hidden-xs">
			<div class="card-body card-padding">
				<ul class="question-filters">      
	            	<li class="question-filter-row">
	            		<h3>分类：</h3>
	            		<ul class="question-filter-items">
	            			<li class="<?php if(!$this->filter_info OR !$this->filter_info['category_id']) { echo 'active'; } ?>"><a class="question-filter-category" href="javascript:;">全部</a></li>
	            			<?php foreach ($this->content_nav_menu as $key => $val) { ?>
								<li class="question-filter-category <?php if($this->filter_info AND $this->filter_info['category_id'] == $val['id']) { echo 'active'; } ?>" data-id="<?php echo $val['id']; ?>">
									<a href="javascript:;"> 
										<?php echo $val['title']; ?> 
									</a>
								</li>
	            			<?php } ?>	
	            		</ul>
	            	</li>
	            	<li class="question-filter-row">
	            		<h3>题型：</h3>
	            		<ul class="question-filter-items">
	            			<li class="question-filter-quiztype <?php if(!$this->filter_info OR !$this->filter_info['quiztype']) { echo 'active'; } ?>"><a href="javascript:;">全部</a></li>
	            			<li class="question-filter-quiztype <?php if($this->filter_info AND $this->filter_info['quiztype'] == 1) { echo 'active'; } ?>" data-id="1"><a href="javascript:;">单选</a></li>
	            			<li class="question-filter-quiztype <?php if($this->filter_info AND $this->filter_info['quiztype'] == 2) { echo 'active'; } ?>" data-id="2"><a href="javascript:;">多选</a></li>
	            			<li class="question-filter-quiztype <?php if($this->filter_info AND $this->filter_info['quiztype'] == 3) { echo 'active'; } ?>" data-id="3"><a href="javascript:;">字谜</a></li>
	            			<li class="question-filter-quiztype <?php if($this->filter_info AND $this->filter_info['quiztype'] == 4) { echo 'active'; } ?>" data-id="4"><a href="javascript:;">填空</a></li>
	            			<li class="question-filter-quiztype <?php if($this->filter_info AND $this->filter_info['quiztype'] < 0) { echo 'active'; } ?>" data-id="-1"><a href="javascript:;">开放</a></li>
	            		</ul>
	            	</li>
	            	<li class="question-filter-row">
	            		<h3>难度：</h3>
	            		<ul class="question-filter-items">
	            			<li class="question-filter-difficulty <?php if(!$this->filter_info OR !$this->filter_info['difficulty']) { echo 'active'; } ?>"><a  href="javascript:;">全部</a></li>
	            			<li class="question-filter-difficulty <?php if($this->filter_info AND $this->filter_info['difficulty'] == 1) { echo 'active'; } ?>" data-id="1"><a href="javascript:;">休闲</a></li>
	            			<li class="question-filter-difficulty <?php if($this->filter_info AND $this->filter_info['difficulty'] == 2) { echo 'active'; } ?>" data-id="2"><a href="javascript:;">简单</a></li>
	            			<li class="question-filter-difficulty <?php if($this->filter_info AND $this->filter_info['difficulty'] == 3) { echo 'active'; } ?>" data-id="3"><a href="javascript:;">中等</a></li>
	            			<li class="question-filter-difficulty <?php if($this->filter_info AND $this->filter_info['difficulty'] == 4) { echo 'active'; } ?>" data-id="4"><a href="javascript:;">困难</a></li>
	            			<li class="question-filter-difficulty <?php if($this->filter_info AND $this->filter_info['difficulty'] == 5) { echo 'active'; } ?>" data-id="5"><a href="javascript:;">极难</a></li>
	            		</ul>
	            	</li>
	            	<li class="question-filter-row">
	            		<h3>时限：</h3>
	            		<ul class="question-filter-items">
	            			<li class="question-filter-countdown <?php if(!$this->filter_info OR !$this->filter_info['countdown']) { echo 'active'; } ?>"><a href="javascript:;">全部</a></li>
	            			<li class="question-filter-countdown <?php if($this->filter_info AND $this->filter_info['countdown'] > 0) { echo 'active'; } ?>" data-id="1"><a href="javascript:;">限时答题</a></li>
	            			<li class="question-filter-countdown <?php if($this->filter_info AND $this->filter_info['countdown'] < 0) { echo 'active'; } ?>" data-id="-1"><a href="javascript:;">非限时答题</a></li>
	            		</ul>
	            	</li>
		        </ul>
			</div>   
	    </div>
	    
	    <!-- 排序 -->
	    <div class="question-list-heading hidden-xs">
	    	<div class="card" >
	    		<div class="question-list-sort card-body card-padding">
	            	<ul class="question-sort-items">
	        			<li class="question-sort-item <?php if(!$this->filter_info OR !$this->filter_info['sort_type'] OR $this->filter_info['sort_type'] == 'new') { echo 'active';} ?>" data-sort="new"><a href="javascript:;">最新</a></li>
	        			<li class="question-sort-item <?php if($this->filter_info AND $this->filter_info['sort_type'] == 'recommend') { echo 'active';} ?>" data-sort="recommend"><a href="javascript:;">推荐</a></li>
	        			<li class="question-sort-item <?php if($this->filter_info AND $this->filter_info['sort_type'] == 'hot') { echo 'active';} ?>" data-sort="hot"><a href="javascript:;">热门</a></li>
	        		</ul>
	            </div>
	            <div class="question-list-publish col-sm-4">
					<a href="publish/"><i class="md md-create"></i> 我要出题</a>	
				</div>
	    	</div>
	    </div>
		
		<!-- 问题列表 -->
    	<div class="question-list col-sm-8">
        	<?php if($this->question_list) { ?>
				<?php foreach ($this->question_list as $index => $question) { ?>
					<div class="card">
						<div class="card-body card-padding">
	                		<div class="media">
							    <div class="pull-right">
							    	<?php if(!($question['quiz_info'] AND $question['quiz_info']['countdown']) AND $question['attachs']) { ?>		
										<?php foreach ($question['attachs'] AS $attach) { ?>
											<?php if ($attach['is_image']) { ?>
												<a href="question/<?php echo $question['question_id']; ?>" target="_blank"><img class="question-feature-image" target="_blank" src="<?php echo $attach['thumb']; ?>" alt="<?php echo $attach['attach_name']; ?>"></a>
											<?php break; } ?>
										<?php } ?>	
							    	<?php } ?>
								</div>
						        <div class="media-body">
						        	<div class="publish-info">
										<?php if ($question['user_info']) { ?>
											<a href="people/<?php echo $question['user_info']['url_token']; ?>" target="_blank" rel="nofollow">
												<img class="publisher-img-sm hidden-xs" src="<?php echo get_avatar_url($question['user_info']['uid'], 'max'); ?>" alt="" /><?php if ($question['user_info']['verified']) { ?><?php if ($question['user_info']['verified'] == 'personal') { ?><i class="icon icon-v"></i>
													<?php } else { ?><i class="icon icon-v i-ve"></i><?php } ?><?php } ?>
												<span class="publisher-user-name">
													<?php echo $question['user_info']['user_name']; ?>
												</span>
											</a>
										<?php } ?>
										<small>
											• <?php echo date_friendly($question['update_time']); ?>
										</small>
									</div>
							        <div class="question-heading">
						            	<h4 class="question-title">
						            		<?php if($question['quiz_info'] AND $question['quiz_info']['countdown']) { ?>
						            			<a href="question/<?php echo $question['question_id']; ?>" target="_blank">
						            				<i class="md md-visibility-off"></i> 该题为限时答题
						            			</a>
						            		<?php } else { ?>
						            			<a href="question/<?php echo $question['question_id']; ?>" target="_blank"><?php echo $question['question_content']; ?>
						            			</a>
						            		<?php } ?>
						            	</h4>
						            	<div class="question-tags">
						            		<!-- 问题分类 -->
						            		<?php if ($question['category_info']) { ?>
												<a data-type="category" data-id="<?php echo $question['category_info']['id']; ?>" class="question-tag label bgm-bluegray" href="javascript:;">
													<span><?php echo $question['category_info']['title']; ?></span>
												</a>
											<?php } ?>
						            		<!-- 问题难度 -->
						            		<?php TPL::assign('question_difficulty', $question['difficulty']); ?>
						            		<?php TPL::output('question/ajax/question_difficulty'); ?>

											<!-- 答题类型 -->
											<?php TPL::assign('question_quiz_type', $question['quiz_info']['type']); ?>
						            		<?php TPL::output('question/ajax/question_quiz_type'); ?>
						            	</div>
					            	</div> 
						        </div>
						    </div>
						    <div class="question-content">
				            	<?php if($question['quiz_info'] AND $question['quiz_info']['countdown']) { ?>
				            		<div class="alert alert-info question-countdown-quiz-info" role="alert">
				            			<p>
				            				<i class="md md-access-alarm"></i>
				            				<span class="question-excerpt"><?php echo '您需要在规定的时间内完成答题 '; ?></span>	
				            				<a href="question/<?php echo $question['question_id']; ?>" class="answer-question-action btn-answer-question btn-xs" target="_blank">开始答题</a>
				            			</p>
				            		</div>
				            		
				            	<?php } else { ?>
				            		<p>
				            			<span class="question-excerpt"><?php echo cjk_substr(str_replace("\r\n", ' ', preg_replace('|\[.*\].*\[\/.*\]|si', '', strip_tags($question['question_detail']))), 0, 80, 'UTF-8', '...'); ?>
				            			</span> 
				            			<a href="question/<?php echo $question['question_id']; ?>" class="answer-question-action btn-answer-question btn-xs" target="_blank">开始答题</a>
				            		</p>
				            	<?php } ?>
				            </div>
						    <ul class="question-stats">
				            	<li class="question-stat"><i class="md md-remove-red-eye"> </i><?php echo $question['view_count']; ?> <span class="hidden-xs">次浏览</span></li>
								<?php if($question['quiz_stats']) { ?>
									
                                    <li class="question-stat"><i class="md md-trending-up"> </i><?php echo $question['quiz_stats']['total']; ?> <span class="hidden-xs">次答题</span></li>
                                    <li class="question-stat"><i class="md md-flag"> </i><?php echo number_format($question['quiz_stats']['rate'] * 100, 0); ?>% <span class="hidden-xs">正确率</span></li>
                            	<?php } ?>
                            	<li class="question-stat"><i class="md md-comment"> </i><?php echo $question['answer_count']; ?> <span class="hidden-xs">条讨论</span></li>
                            </ul>
	                    </div>
					</div> 
				<?php } ?>
			<?php } ?>

            <!-- 分页 -->
			<?php if($this->pagination) { ?>
	            <div class="card">
		        	<div class="card-body card-padding">
		        		<?php echo $this->pagination; ?>
		        	</div>
		        </div>
	        <?php } ?>
		</div>
		
		<div class="col-sm-4">
			<div class="card">
	            <div class="listview">
	                <div class="lv-header">
	                    Messages
	                </div>
	                <div class="lv-body">
	                    <a class="lv-item" href="#">
	                        <div class="media">
	                            <div class="pull-left">
	                                <img class="lv-img-sm" src="img/profile-pics/1.jpg" alt="">
	                            </div>
	                            <div class="media-body">
	                                <div class="lv-title">David Belle</div>
	                                <small class="lv-small">Cum sociis natoque penatibus et magnis dis parturient montes</small>
	                            </div>
	                        </div>
	                    </a>
	                    <a class="lv-item" href="#">
	                        <div class="media">
	                            <div class="pull-left">
	                                <img class="lv-img-sm" src="img/profile-pics/2.jpg" alt="">
	                            </div>
	                            <div class="media-body">
	                                <div class="lv-title">Jonathan Morris</div>
	                                <small class="lv-small">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small>
	                            </div>
	                        </div>
	                    </a>
	                    <a class="lv-item" href="#">
	                        <div class="media">
	                            <div class="pull-left">
	                                <img class="lv-img-sm" src="img/profile-pics/3.jpg" alt="">
	                            </div>
	                            <div class="media-body">
	                                <div class="lv-title">Fredric Mitchell Jr.</div>
	                                <small class="lv-small">Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies</small>
	                            </div>
	                        </div>
	                    </a>
	                    <a class="lv-item" href="#">
	                        <div class="media">
	                            <div class="pull-left">
	                                <img class="lv-img-sm" src="img/profile-pics/4.jpg" alt="">
	                            </div>
	                            <div class="media-body">
	                                <div class="lv-title">Glenn Jecobs</div>
	                                <small class="lv-small">Ut vitae lacus sem ellentesque maximus, nunc sit amet varius dignissim, dui est consectetur neque</small>
	                            </div>
	                        </div>
	                    </a>
	                    <a class="lv-item" href="#">
	                        <div class="media">
	                            <div class="pull-left">
	                                <img class="lv-img-sm" src="img/profile-pics/4.jpg" alt="">
	                            </div>
	                            <div class="media-body">
	                                <div class="lv-title">Bill Phillips</div>
	                                <small class="lv-small">Proin laoreet commodo eros id faucibus. Donec ligula quam, imperdiet vel ante placerat</small>
	                            </div>
	                        </div>
	                    </a>
	                </div>
	                <a class="lv-footer" href="#">View All</a>
	            </div>
	        </div>
		</div>
	</div>
</section>

<?php TPL::output('global/footer.tpl.htm'); ?>