<?php TPL::output('global/header.tpl.htm'); ?>

<!-- 移动导航栏 -->
<div class="m-question-list-heading visible-xs" data-spy="affix" data-offset-top="60" data-offset-bottom="118">
	<div class="card">
		<div class="card-body card-padding">
			<ul class="m-question-filter clearfix">
				<li><a href="#m-question-filter" data-toggle="modal"><i class="md md-filter-list"></i> 筛选</a></li>
				<li class="dropdown">
					<?php if($this->filter_info AND $this->filter_info['sort_type'] == 'recommend') { $sort_type = 'recommend'; $sort_text = '推荐';} else if($this->filter_info AND $this->filter_info['sort_type'] == 'hot') { $sort_type = 'hot'; $sort_text = '热门';} else { $sort_type = 'new'; $sort_text = '最新';} ?>
					<a class="m-question-sort" href="#" data-toggle="dropdown" data-sort="<?php echo $sort_type; ?>"><?php echo $sort_text; ?> <i class="caret"></i></a>
					<ul class="dropdown-menu clearfix m-question-sort-items">
                        <li class="m-question-sort-item" data-sort="new"><a href="#">最新</a></li>
                        <li class="m-question-sort-item" data-sort="recommend"><a href="#">推荐</a></li>
                        <li class="m-question-sort-item" data-sort="hot"><a href="#">热门</a></li>
                    </ul>
				</li>
				<li class="m-question-list-publish">
					<a href="publish/"><i class="md md-create"></i> 出题</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="modal fade" id="m-question-filter" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card m-question-filter-list">
                <div class="card-header ch-alt">
                    <h2><i class="md md-filter-list"></i>筛选</h2>
                    <div class="actions">
                    	<li>
                    		<button type="button" id="m-question-filters-apply" class="btn btn-primary waves-effect" data-dismiss="modal">确定</button>
                    	</li>
                    </div>
                </div>
                <div class="card-body card-padding">
                    <ul class="m-question-filters">      
		            	<li class="m-question-filter-row">
		            		<h3>分类：</h3>
		            		<ul class="m-question-filter-items">
		            			<li class="<?php if(!$this->filter_info OR !$this->filter_info['category_id']) { echo 'active'; } ?>"><a class="m-question-filter-category" href="javascript:;">全部</a></li>
		            			<?php foreach ($this->content_nav_menu as $key => $val) { ?>
		            				<?php if($val['id']) { ?>
										<li class="m-question-filter-category <?php if($this->filter_info AND $this->filter_info['category_id'] == $val['id']) { echo 'active'; } ?>" data-id="<?php echo $val['id']; ?>">
											<a href="javascript:;">
												<?php echo $val['title']; ?> 
											</a>
										</li>
									<?php } ?>
		            			<?php } ?>	
		            		</ul>
		            	</li>
		            	<li class="m-question-filter-row">
		            		<h3>题型：</h3>
		            		<ul class="m-question-filter-items">
		            			<li class="m-question-filter-quiztype <?php if(!$this->filter_info OR !$this->filter_info['quiztype']) { echo 'active'; } ?>"><a href="javascript:;">全部</a></li>
		            			<li class="m-question-filter-quiztype <?php if($this->filter_info AND $this->filter_info['quiztype'] == 1) { echo 'active'; } ?>" data-id="1"><a href="javascript:;">单选</a></li>
		            			<li class="m-question-filter-quiztype <?php if($this->filter_info AND $this->filter_info['quiztype'] == 2) { echo 'active'; } ?>" data-id="2"><a href="javascript:;">多选</a></li>
		            			<li class="m-question-filter-quiztype <?php if($this->filter_info AND $this->filter_info['quiztype'] == 3) { echo 'active'; } ?>" data-id="3"><a href="javascript:;">字谜</a></li>
		            			<li class="m-question-filter-quiztype <?php if($this->filter_info AND $this->filter_info['quiztype'] == 4) { echo 'active'; } ?>" data-id="4"><a href="javascript:;">填空</a></li>
		            			<li class="m-question-filter-quiztype <?php if($this->filter_info AND $this->filter_info['quiztype'] < 0) { echo 'active'; } ?>" data-id="-1"><a href="javascript:;">开放</a></li>
		            		</ul>
		            	</li>
		            	<li class="m-question-filter-row">
		            		<h3>难度：</h3>
		            		<ul class="m-question-filter-items">
		            			<li class="m-question-filter-difficulty <?php if(!$this->filter_info OR !$this->filter_info['difficulty']) { echo 'active'; } ?>"><a  href="javascript:;">全部</a></li>
		            			<li class="m-question-filter-difficulty <?php if($this->filter_info AND $this->filter_info['difficulty'] == 1) { echo 'active'; } ?>" data-id="1"><a href="javascript:;"><?php echo get_setting('difficulty_level_1_text'); ?></a></li>
		            			<li class="m-question-filter-difficulty <?php if($this->filter_info AND $this->filter_info['difficulty'] == 2) { echo 'active'; } ?>" data-id="2"><a href="javascript:;"><?php echo get_setting('difficulty_level_2_text'); ?></a></li>
		            			<li class="m-question-filter-difficulty <?php if($this->filter_info AND $this->filter_info['difficulty'] == 3) { echo 'active'; } ?>" data-id="3"><a href="javascript:;"><?php echo get_setting('difficulty_level_3_text'); ?></a></li>
		            			<li class="m-question-filter-difficulty <?php if($this->filter_info AND $this->filter_info['difficulty'] == 4) { echo 'active'; } ?>" data-id="4"><a href="javascript:;"><?php echo get_setting('difficulty_level_4_text'); ?></a></li>
		            			<li class="m-question-filter-difficulty <?php if($this->filter_info AND $this->filter_info['difficulty'] == 5) { echo 'active'; } ?>" data-id="5"><a href="javascript:;"><?php echo get_setting('difficulty_level_5_text'); ?></a></li>
		            		</ul>
		            	</li>
		            	<li class="m-question-filter-row">
		            		<h3>时限：</h3>
		            		<ul class="m-question-filter-items">
		            			<li class="m-question-filter-countdown <?php if(!$this->filter_info OR !$this->filter_info['countdown']) { echo 'active'; } ?>"><a href="javascript:;">全部</a></li>
		            			<li class="m-question-filter-countdown <?php if($this->filter_info AND $this->filter_info['countdown'] > 0) { echo 'active'; } ?>" data-id="1"><a href="javascript:;">限时答题</a></li>
		            			<li class="m-question-filter-countdown <?php if($this->filter_info AND $this->filter_info['countdown'] < 0) { echo 'active'; } ?>" data-id="-1"><a href="javascript:;">非限时答题</a></li>
		            		</ul>
		            	</li>
			        </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="content">
	<div class="container">
		<div class="row">
			<!-- 分类筛选 -->
			
			<div class="col-sm-12">
				<div class="card hidden-xs">
					<div class="card-body card-padding">
						<ul class="question-filters" id="question-filters" data-url-base="<?php echo $this->filter_info['url_base']; ?>">      
			            	<li class="question-filter-row">
			            		<h3>分类：</h3>
			            		<ul class="question-filter-items">
			            			<li class="<?php if(!$this->filter_info OR !$this->filter_info['category_id']) { echo 'active'; } ?>"><a class="question-filter-category" href="javascript:;">全部</a></li>
			            			<?php foreach ($this->content_nav_menu as $key => $val) { ?>
			            				<?php if($val['id']) { ?>
											<li class="question-filter-category <?php if($this->filter_info AND $this->filter_info['category_id'] == $val['id']) { echo 'active'; } ?>" data-id="<?php echo $val['id']; ?>">
												<a href="javascript:;"> 
													<?php echo $val['title']; ?> 
												</a>
											</li>
										<?php } ?>
			            			<?php } ?>	
			            		</ul>
			            	</li>
			            	<li class="question-filter-row">
			            		<h3>题型：</h3>
			            		<ul class="question-filter-items">
			            			<li class="question-filter-quiztype <?php if(!$this->filter_info OR !$this->filter_info['quiztype']) { echo 'active'; } ?>"><a href="javascript:;">全部</a></li>
			            			<li class="question-filter-quiztype <?php if($this->filter_info AND $this->filter_info['quiztype'] == 1) { echo 'active'; } ?>" data-id="1"><a href="javascript:;">单选</a></li>
			            			<li class="question-filter-quiztype <?php if($this->filter_info AND $this->filter_info['quiztype'] == 2) { echo 'active'; } ?>" data-id="2"><a href="javascript:;">多选</a></li>
			            			<li class="question-filter-quiztype <?php if($this->filter_info AND $this->filter_info['quiztype'] == 3) { echo 'active'; } ?>" data-id="3"><a href="javascript:;">字谜</a></li>
			            			<li class="question-filter-quiztype <?php if($this->filter_info AND $this->filter_info['quiztype'] == 4) { echo 'active'; } ?>" data-id="4"><a href="javascript:;">填空</a></li>
			            			<li class="question-filter-quiztype <?php if($this->filter_info AND $this->filter_info['quiztype'] < 0) { echo 'active'; } ?>" data-id="-1"><a href="javascript:;">开放</a></li>
			            		</ul>
			            	</li>
			            	<li class="question-filter-row">
			            		<h3>难度：</h3>
			            		<ul class="question-filter-items">
			            			<li class="question-filter-difficulty <?php if(!$this->filter_info OR !$this->filter_info['difficulty']) { echo 'active'; } ?>"><a  href="javascript:;">全部</a></li>
			            			<li class="question-filter-difficulty <?php if($this->filter_info AND $this->filter_info['difficulty'] == 1) { echo 'active'; } ?>" data-id="1"><a href="javascript:;">休闲</a></li>
			            			<li class="question-filter-difficulty <?php if($this->filter_info AND $this->filter_info['difficulty'] == 2) { echo 'active'; } ?>" data-id="2"><a href="javascript:;">简单</a></li>
			            			<li class="question-filter-difficulty <?php if($this->filter_info AND $this->filter_info['difficulty'] == 3) { echo 'active'; } ?>" data-id="3"><a href="javascript:;">中等</a></li>
			            			<li class="question-filter-difficulty <?php if($this->filter_info AND $this->filter_info['difficulty'] == 4) { echo 'active'; } ?>" data-id="4"><a href="javascript:;">困难</a></li>
			            			<li class="question-filter-difficulty <?php if($this->filter_info AND $this->filter_info['difficulty'] == 5) { echo 'active'; } ?>" data-id="5"><a href="javascript:;">极难</a></li>
			            		</ul>
			            	</li>
			            	<li class="question-filter-row">
			            		<h3>时限：</h3>
			            		<ul class="question-filter-items">
			            			<li class="question-filter-countdown <?php if(!$this->filter_info OR !$this->filter_info['countdown']) { echo 'active'; } ?>"><a href="javascript:;">全部</a></li>
			            			<li class="question-filter-countdown <?php if($this->filter_info AND $this->filter_info['countdown'] > 0) { echo 'active'; } ?>" data-id="1"><a href="javascript:;">限时答题</a></li>
			            			<li class="question-filter-countdown <?php if($this->filter_info AND $this->filter_info['countdown'] < 0) { echo 'active'; } ?>" data-id="-1"><a href="javascript:;">非限时答题</a></li>
			            		</ul>
			            	</li>
				        </ul>
					</div>   
			    </div>
			</div>
		</div>
		
		<!-- 排序bar -->

		<div class="row" id="nav-question-list-header-wrap">
		    <div class="question-list-heading col-sm-12 hidden-xs" id="nav-question-list-header">
		    	<div class="card">
		    		<div class="card-body card-padding clearfix">
		    			<div class="question-list-sort">
		    				<!-- <ul class="question-sort-items">
			        			<li class="question-sort-item <?php if(!$this->filter_info OR !$this->filter_info['sort_type'] OR $this->filter_info['sort_type'] == 'new') { echo 'active';} ?>" data-sort="new"><a href="javascript:;">最新</a></li>
			        			<li class="question-sort-item <?php if($this->filter_info AND $this->filter_info['sort_type'] == 'recommend') { echo 'active';} ?>" data-sort="recommend"><a href="javascript:;">推荐</a></li>
			        			<li class="question-sort-item <?php if($this->filter_info AND $this->filter_info['sort_type'] == 'hot') { echo 'active';} ?>" data-sort="hot"><a href="javascript:;">热门</a></li>
			        		</ul> -->

			        		<?php TPL::output('block/question_list_filter_bar.tpl.htm'); ?>
		    			</div>
			            <div class="user-quiz-message">
			            	<i class="md md-volume-up pull-left message-icon"></i>
                            <div id="slide-user-quiz-message" class="carousel vertical slide">
                                <?php TPL::output('block/user_quiz_message.tpl.htm'); ?>
                            </div>
			            </div>
		            </div>       
		    	</div>
		    </div>
		</div>
	
		<div class="row">
			<!-- 问题列表 -->
			<div class="question-list col-sm-8">
	    		<?php TPL::output('block/question_list.tpl.htm'); ?>

	    		<!-- 分页 -->
				<?php if($this->pagination) { ?>
			        <div class="card">
			        	<div class="card-body card-padding">
			        		<?php echo $this->pagination; ?>
			        	</div>
			        </div>
			    <?php } ?>
	    	</div>
			
			<div class="sidebar col-sm-4 hidden-xs">
				<!-- 推荐专题 -->
				<div class="card sidebar-hot-topics">
					<div class="card-header">
		                <h2>热门专题</h2>
		                <ul class="actions">
		                    <li class="action-item-link">
	                            <a href="topic/">所有专题<i class="md md-chevron-right c-lightblue"></i></a>
	                        </li>
		                </ul>
		            </div>
					<div class="card-body card-padding">
						<?php TPL::output('block/sidebar_hot_topics.tpl.htm'); ?>
					</div>
		        </div>
				
				<!-- 热门用户 -->	

		        <div class="card sidebar-hot-users">
					<div class="card-header">
		                <h2>热门用户</h2>
		                <ul class="actions">
		                    <li>
		                       <a href="people/"><i class="md md-chevron-right"></i></a>
		                    </li>
		                </ul>
		            </div>
					<div class="card-body card-padding">
						<?php TPL::output('block/sidebar_hot_users.tpl.htm'); ?>
					</div>
		        </div>
			</div>
		</div>
	</div>
</div>

<script>
	$(function() {
		var navBar = $('#nav-question-list-header');
		var navBarPadding = navBar.offset().left + 15;

		// 排序bar sticky

		$('#nav-question-list-header-wrap').height(navBar.height());
		
		navBar.on('affixed.bs.affix', function () {
			$('#nav-question-list-header > .card').css({"padding-left": navBarPadding, "padding-right": navBarPadding});
		});

		navBar.on('affixed-top.bs.affix', function() {
			$('#nav-question-list-header > .card').css({"padding-left": 0, "padding-right": 0});
		});

		navBar.affix({
	        offset: { top: navBar.offset().top}
	    });
	});
</script>

<?php TPL::output('global/footer.tpl.htm'); ?>