<?php TPL::output('global/header.tpl.htm'); ?>
    
<!-- 内容区域 -->

<section id="main">
   <section id="content">
        <div class="container">
            <!-- 网站公告 -->
            
            <?php TPL::output("block/site_announce.tpl.htm"); ?>

            <!-- 首页幻灯片 -->
            
            <div class="row top-slider hidden-xs">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-8 p-r-0">
                            <!-- 幻灯页面 -->
                            <?php if($this->slides) { ?>
                                <div class="main-slide">
                                    <div id="main-slide" class="carousel slide" data-ride="carousel">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            <?php foreach ($this->slides as $index => $slide) { ?>
                                                <li data-target="#main-slide" data-slide-to="<?php echo $index; ?>" class="<?php if($index == 0) { echo 'active'; } ?>"></li>
                                            <?php } ?>
                                        </ol>
                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner" role="listbox">
                                            <?php foreach ($this->slides as $index => $slide) { ?>
                                                <div class="item <?php if($index == 0) { echo 'active'; } ?>">
                                                    <a href="<?php echo $slide['link']; ?>"><img src="<?php echo get_slide_img_url($slide['id']); ?>" alt="<?php echo $slide['title']; ?>"></a>
                                                    <?php if($slide['description']) { ?>
                                                    <div class="carousel-caption">
                                                        <?php echo $slide['description']; ?>
                                                    </div>
                                                    <?php } ?>
                                                </div>
                                            <?php } ?>
                                        </div>
                                        <!-- Controls -->
                                        <a class="left carousel-control" href="#main-slide" role="button" data-slide="prev">
                                            <span class="md md-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#main-slide" role="button" data-slide="next">
                                            <span class="md md-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            <?php } ?>
                            <!-- end  幻灯页面 -->
                        </div>
                            
                        <!-- 推荐功能 -->
                        <div class="col-sm-4 p-l-5 hidden-xs">
                            <ul>
                                <li class="explore-feature-item sign-in <?php if($this->signed_in) { ?>bgm-green<?php } else { ?>bgm-teal<?php } ?>">
                                    <div class="clearfix">
                                        <a id="explore-sign-in" class="c-white" href="javascript:void(0);">
                                            <div class="card">
                                                <div class="card-body card-padding">
                                                    <div class="media">
                                                        <div class="pull-left">
                                                            <i class="md md-event-available feature-item-icon sign"></i>
                                                        </div>
                                                        <div class="media-body sign-message">
                                                            <?php if(!$this->signed_in) { ?>
                                                                <strong class="d-block">每日签到</strong>
                                                                <small class="d-block">免费获取积分</small>
                                                            <?php } else { ?>
                                                                <strong class="d-block"><s>签到成功</s> <i class="md md-check"></i> </strong> 
                                                                <small>成功获取积分</small>
                                                            <?php } ?>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                        </a>
                                    </div>
                                </li>

                                <li class="explore-feature-item bgm-blue">
                                    <div class="clearfix">
                                        <a class="c-white" href="publish/">
                                            <div class="card">
                                                <div class="card-body card-padding ">
                                                    <div class="media">
                                                        <div class="pull-left">
                                                            <i class="md md-mode-edit feature-item-icon shares"></i>
                                                        </div>
                                                        <div class="media-body">
                                                            <strong class="d-block">分享题目</strong>
                                                            <small>你考倒大家了吗？</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>      
                                </li>
                                
                                <li class="explore-feature-item bgm-deeporange">
                                    <div class="clearfix">
                                        <a class="c-white" href="<?php if($this->user_id) { ?>people/questions/id-<?php echo $this->user_id; ?>__type-failed <?php } else { ?>account/login<?php } ?>">
                                            <div class="card">
                                                <div class="card-body card-padding ">
                                                    <div class="media">
                                                        <div class="pull-left">
                                                            <i class="md md-assignment feature-item-icon wrong"></i>
                                                        </div>
                                                        <div class="media-body">
                                                            <strong class="d-block">我的错题</strong>
                                                            <small>没有答不出的题</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row hidden-xs">
                        <div class="col-sm-12">
                            <ul class="explore-top-question-items">
                                <?php foreach ($this->top_question_list as $key => $question) { ?>
                                    <li class="explore-top-question-item <?php if($key % 2 == 0) { ?>p-r-10<?php } ?>">
                                        <div class="top-question-category-mark bgm-category-<?php echo $question['category_id'] % 19 ; ?>">
                                            <?php echo $question['category_info']['title']; ?>
                                        </div>
                                        <div class="card m-b-0">
                                            <div class="media">
                                                <div class="pull-left explore-top-question-img-wrap">
                                                    <a href="question/<?php echo $question['question_id']; ?>" target="_blank">
                                                        <?php if($question['attachs']) { ?>
                                                            <?php foreach ($question['attachs'] AS $attach) { ?>
                                                                <?php if ($attach['is_image']) { ?>
                                                                    <a href="question/<?php echo $question['question_id']; ?>" target="_blank"><img class="explore-top-question-img" target="_blank" src="<?php echo $attach['thumb']; ?>" alt="<?php echo $attach['attach_name']; ?>"></a>
                                                                <?php break; } ?>
                                                            <?php } ?>
                                                        <?php } ?>
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading top-question-title">
                                                        <span class="top-question-mark">置顶</span>
                                                        <?php if($question['quiz_info'] AND $question['quiz_info']['countdown']) { ?>
                                                            <a class="countdown-question-title" href="question/<?php echo $question['question_id']; ?>" target="_blank">
                                                                <i class="md md-access-alarm"></i> 限时答题：***<?php echo cjk_substr($question['question_content'], 2, 4, 'UTF-8', '***'); ?>
                                                            </a>
                                                        <?php } else { ?>
                                                            <a href="question/<?php echo $question['question_id']; ?>" target="_blank"><?php echo $question['question_content']; ?>
                                                            </a>
                                                        <?php } ?>
                                                    </h4>
                                                    <div class="top-question-footer">
                                                        <ul class="question-lite-stats-items">
                                                            <?php if($question['quiz_id'] > 0) { ?>
                                                                <li class="question-lite-stats-item b-gray c-gray">
                                                                    <strong class="question-lite-stats-item-number"><?php echo intval($question['quiz_count_total']); ?></strong> 次答题 
                                                                </li>
                                                            
                                                                <li class="pull-right question-lite-stats-item <?php if($question['quiz_success_ratio'] < 0.5) { ?>c-red b-red<?php } else { ?>c-green b-green<?php } ?>">
                                                                    <strong class="question-lite-stats-item-number"><?php echo number_format($question['quiz_success_ratio'] * 100, 0); ?>%</strong> 正确率 
                                                                </li>
                                                            <?php } else { ?>
                                                                <li class="question-lite-stats-item c-gray b-gray">
                                                                    <strong class="question-lite-stats-item-number"><?php echo intval($question['answer_count']); ?></strong> 条讨论 
                                                                </li>
                                                            <?php } ?>
                                                        </ul>  
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                <?php } ?>
                            </ul>
                        </div> 
                    </div>
                </div>

                <div class="col-sm-4 hidden-xs">
                    <div class="row">
                        <div class="col-sm-6 p-r-5">
                            <div class="card m-b-0 user-ranks">
                                <?php TPL::assign('rank_type', 'success_ratio'); ?>
                                <?php TPL::assign('user_rank_list', $this->top_user_list_success_ratio); ?>
                                <?php TPL::output('block/user_rank_list'); ?>
                            </div>
                        </div>
                        <div class="col-sm-6 p-l-5">
                            <div class="card m-b-0 user-ranks">
                                <?php TPL::assign('rank_type', 'integral'); ?>
                                <?php TPL::assign('user_rank_list', $this->top_user_list_integral); ?>
                                <?php TPL::output('block/user_rank_list'); ?>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 hidden-xs">
                    <div class="card m-t-10 global-message">
                        <div class="card-body card-padding">
                            <span class="wechat-qrcode pull-left"></span>
                            <div class="m-l-15 pull-left">
                                <h2>思考很快乐，关注脑壳网</h2>
                                <p>
                                    <ul class="sns-foucs-accounts">
                                        <li class="m-b-10">
                                            <a href="#" class="c-red"><i class="icon icon-weibo"></i> 关注微博</a>
                                        </li>
                                        <li class="c-blue"><i class="icon icon-qq"></i> 加入QQ群：</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 排序及答题动态 -->

            <div class="row hidden-xs" id="nav-question-list-header-wrap">
                <div class="question-list-heading col-sm-12" id="nav-question-list-header">
                    <div class="card">
                        <div class="card-body card-padding clearfix">
                            <div class="question-list-sort">
                                <?php TPL::output('block/question_list_filter_bar.tpl.htm'); ?>
                            </div>
                            <div class="user-quiz-message">
                                <i class="md md-volume-up pull-left message-icon"></i>
                                <div id="slide-user-quiz-message" class="carousel vertical slide">
                                    <?php TPL::output('block/user_quiz_message.tpl.htm'); ?>
                                </div>
                            </div>
                        </div>       
                    </div>
                </div>
            </div>
            
            <div class="row">
                <!-- 精选答题 -->
                <div class="col-sm-8">
                    <div class="question-list" id="question-list">
                        <?php TPL::assign('question_list', $this->recommend_homepage_questions); ?>
                        <?php TPL::output('block/question_list.tpl.htm'); ?>
                    </div>
                        
                    <!-- 加载更多 -->
                    
                    <a href="javascript:void(0);" id="question-load-more" auto-load="false">
                        <div class="card">
                            <div class="card-body card-padding text-center">
                                <h3>
                                    下一页 <i class="md md-arrow-drop-down"></i>
                                </h3>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- 侧边栏 -->

                <div class="col-sm-4 hidden-xs">
                    <!-- 分类以及题型 -->

                    <div class="card explore-categories">
                        <ul class="tab-nav tn-justified tn-icon" role="tablist" tabindex="1" style="overflow: hidden; outline: none;">
                            <li role="presentation" class="active">
                                <a class="col-sx-4" href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab" aria-expanded="true">
                                    分类
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a class="col-xs-4" href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab" aria-expanded="false">
                                    题型
                                </a>
                            </li>
                            <li role="presentation" class="">
                                <a class="col-xs-4" href="#tab-3" aria-controls="tab-3" role="tab" data-toggle="tab" aria-expanded="false">
                                    难度
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content p-20">
                            <div role="tabpanel" class="tab-pane animated fadeIn active" id="tab-1">
                                <?php TPL::output('block/content_nav_menu.tpl.htm'); ?>
                            </div>
                            
                            <div role="tabpanel" class="tab-pane animated fadeIn" id="tab-2">
                                <ul class="nav-question-type-items clearfix">
                                    <li class="nav-question-type-item">
                                        <a href="question/quiztype-1" class="c-lightgreen b-lightgreen">
                                            <i class="md md-radio-button-on"></i>
                                            <span>单项选择</span>
                                        </a>
                                    </li>
                                    <li class="nav-question-type-item">
                                        <a href="question/quiztype-2" class="c-cyan b-cyan">
                                            <i class="md md-check-box"></i>
                                            <span>多项选择</span>
                                        </a>
                                    </li>
                                    <li class="nav-question-type-item">
                                        <a href="question/quiztype-3" class="c-amber b-amber">
                                            <i class="md md-apps"></i>
                                            <span>成语字谜</span>
                                        </a>
                                    </li>
                                    <li class="nav-question-type-item">
                                        <a href="question/quiztype-4" class="c-deeppurple b-deeppurple">
                                            <i class="md md-border-color"></i>
                                            <span>完形填空</span>
                                        </a>
                                    </li>
                                    <li class="nav-question-type-item">
                                        <a href="question/quiztype--1" class="c-brown b-brown">
                                            <i class="md md-question-answer"></i>
                                            <span>开放讨论</span>
                                        </a>
                                    </li>
                                    <li class="nav-question-type-item">
                                        <a href="question/countdown-1" class="c-orange b-orange">
                                            <i class="md md-access-alarm"></i>
                                            <span>限时答题</span>
                                        </a>
                                    </li>
                                </ul>     
                            </div>

                            <div role="tabpanel" class="tab-pane animated fadeIn" id="tab-3">
                                <ul class="nav-question-difficulty-list">
                                    <?php $colors = array("c-green", "c-blue", "c-yellow", "c-purple", "c-orange"); ?>
                                    <?php for($id = 1; $id <= 5; $id++) { ?>
                                        <li class="nav-question-difficulty-item">
                                            <a href="question/difficulty-<?php echo $id?>" data-type="difficulty" data-id="<?php echo $id; ?>" class="<?php echo $colors[$id - 1]; ?>">
                                                <span class="pull-left c-black"><?php echo $id; ?></span>
                                                <span>
                                                    <?php for($i = 1; $i <= $id; $i++){ ?>
                                                       <i class="md md-star"></i> 
                                                    <?php } ?>

                                                    <?php for($i; $i <= 5; $i++) { ?>
                                                        <i class="md md-star-outline"></i>
                                                    <?php } ?>
                                                </span>
                                                <span class="pull-right c-black"><?php echo get_setting('difficulty_level_' . $id . '_text'); ?></span>
                                            </a>
                                        </li>
                                    <?php } ?>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- 精选专题 -->

                    <div class="card">
                        <div class="card-header">
                            <h2>精选专题</h2>
                            <ul class="actions">
                                <li class="action-item-link">
                                    <a href="topic/">更多专题<i class="md md-chevron-right c-lightblue"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body card-padding">
                            <?php TPL::assign('sidebar_hot_topics', $this->recommend_homepage_topics); ?>
                            <?php TPL::output('block/sidebar_hot_topics.tpl.htm'); ?>
                        </div>
                    </div>
        
                    <!-- 精选知识 -->

                    <div class="card">
                        <div class="card-header">
                            <h2>精选知识</h2>
                            <ul class="actions">
                                <li class="action-item-link">
                                    <a href="article/">更多知识<i class="md md-chevron-right c-lightblue"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <?php TPL::assign('article_list', $this->recommend_homepage_articles); ?>
                            <?php TPL::output('block/sidebar_article_list.tpl.htm'); ?>
                        </div>
                    </div>
                </div>
            </div>
    </section> 
</section>
    

<!-- end 内容区域 -->

<script type="text/javascript">
    // TPL::assign('pagination', AWS_APP::pagination()->initialize(array(
    //  'base_url' => get_js_url('/sort_type-' . preg_replace("/[\(\)\.;']/", '', $_GET['sort_type']) . '__category-' . $category_info['id'] . '__difficulty-' . $_GET['difficulty'] . '__quiztype-' . $_GET['quiztype'] . '__countdown-' . $_GET['countdown'] . '__is_recommend-' . $_GET['is_recommend'] . '__urecord-' . $_GET['urecord'] . '__date-' . $_GET['date']),
    //  'total_rows' => $this->model('question')->get_homepage_recommend_question_list_total(),
    //  'per_page' => get_setting('contents_per_page'),
    //  'num_links' => 2
    // ))->create_links());

    var FILTER_SORT_TYPE = "<?php echo $this->filter_info['sort_type']; ?>";
    var FILTER_CATEGORY = "<?php echo $this->filter_info['category_id']; ?>";
    var FILTER_DIFFICULTY = "<?php echo $this->filter_info['difficulty']; ?>";
    var FILTER_QUIZ_TYPE = "<?php echo $this->filter_info['quiztype']; ?>";
    var FILTER_COUNTDOWN = "<?php echo $this->filter_info['countdown']; ?>";
    var FILTER_URECORD = "<?php echo $this->filter_info['urecord']; ?>";
    var FILTER_DATE = "<?php echo $this->filter_info['date']; ?>";
    
    $(document).ready(function () {
        
    });
</script>

<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/app/explore.js"></script>

<?php TPL::output('block/fixed_side_toolbar.tpl.htm'); ?>
<?php TPL::output('global/footer.tpl.htm'); ?>